dibk/ansvarsrett/0.9/ansvarsrett09.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dibk="http://skjema.kxml.no/dibk/ansvarsrett/0.9" xmlns:seres="http://seres.no/xsd/forvaltningsdata" xmlns:fiks="http://skjema.kxml.no/metadata" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" targetNamespace="http://skjema.kxml.no/dibk/ansvarsrett/0.9" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation>
			<xs:attribute name="XSLT-skriptnavn" fixed="METATRANS_SERES_XSD_GEN"/>
			<xs:attribute name="XSD-generatorversjon" fixed="2.0.13"/>
			<xs:attribute name="XSLT-prosessor" fixed="SAXON versjon 9.1.0.7"/>
			<xs:attribute name="generert" fixed="02.03.2016 13.27.43"/>
			<xs:attribute name="navneromprefix" fixed="http://seres.no/xsd"/>
			<xs:attribute name="namespace" fixed="http://skjema.kxml.no/dibk/ansvarsrett/0.9"/>
			<xs:attribute name="meldingsnavn" fixed="Melding"/>
			<xs:attribute name="domenenavn" fixed="DiBK"/>
			<xs:attribute name="modellnavn" fixed="MeldingType"/>
			<xs:attribute name="metamodellversjon" fixed="1.0"/>
			<xs:attribute name="guid" fixed="true"/>
			<xs:attribute name="orid" fixed="true"/>
			<xs:attribute name="nillable" fixed="true"/>
			<xs:attribute name="tillat-gjenbruk" fixed="true"/>
			<xs:attribute name="elementtype" fixed="true"/>
			<xs:attribute name="forvaltningsdata" fixed="true"/>
			<xs:attribute name="forvaltningsdata-navnerom" fixed="http://seres.no/xsd/forvaltningsdata"/>
			<xs:attribute name="særnorske-bokstaver-i-navn" fixed="false"/>
			<xs:attribute name="ft_guid_som_attributt" fixed="false"/>
			<xs:attribute name="sem-ref" fixed="true"/>
			<xs:attribute name="kodebibliotek" fixed="false"/>
			<xs:attribute name="språk" fixed="no"/>
			<xs:attribute name="XSD-variant" fixed="Altinn"/>
			<xs:attribute name="XSD-transformatorversjon" fixed="1.2"/>
		</xs:documentation>
	</xs:annotation>
	<!-- Generert av MetaTrans(1.1.0.0) - 02.03.2016 13.27.43-->
	<xs:element name="Kode" type="dibk:KodeType"/>
	<xs:complexType name="KodeListe">
		<xs:sequence>
			<xs:element name="kode" type="dibk:KodeType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="KodeType" seres:guid="http://kommit.metakat.no/Objekttype/Index/EAID_">
		<xs:sequence>
			<xs:element name="kodeverdi" type="xs:string" minOccurs="1" maxOccurs="1" seres:orid="1"/>
			<xs:element name="kodebeskrivelse" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="2"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Ansvarsomraade" type="dibk:AnsvarsomraadeType"/>
	<xs:complexType name="AnsvarsomraadeListe">
		<xs:sequence>
			<xs:element name="ansvarsomraade" type="dibk:AnsvarsomraadeType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AnsvarsomraadeType" seres:guid="http://kommit.metakat.no/Objekttype/Index/EAID_B6A05C67-65F0-4e58-BD59-C63A050268E2">
		<xs:sequence>
			<xs:element name="funksjon" type="dibk:KodeType" minOccurs="1" maxOccurs="1" fiks:codelist="http://register.dev.geonorge.no/subregister/byggesoknad-kodelister/direktoratet-for-byggkvalitet/funksjon" seres:orid="60797"/>
			<xs:element name="arbeidsomraade" type="xs:string" minOccurs="1" maxOccurs="1" seres:orid="60798"/>
			<xs:element name="tiltaksklasse" type="dibk:KodeType" minOccurs="1" maxOccurs="1" fiks:codelist="http://register.dev.geonorge.no/subregister/byggesoknad-kodelister/direktoratet-for-byggkvalitet/tiltaksklasse" seres:orid="60799"/>
			<xs:element name="samsvarKontrollVedRammetillatelse" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60800"/>
			<xs:element name="samsvarKontrollVedIgangsettingstillatelse" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60801"/>
			<xs:element name="samsvarKontrollVedMidlertidigBrukstillatelse" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60802"/>
			<xs:element name="samsvarKontrollVedFerdigattest" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60803"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Ansvarsrett" type="dibk:AnsvarsrettType"/>
	<xs:complexType name="AnsvarsrettListe">
		<xs:sequence>
			<xs:element name="ansvarsrett" type="dibk:AnsvarsrettType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AnsvarsrettType" seres:guid="http://kommit.metakat.no/Objekttype/Index/EAID_028F00BB-9179-4398-BCDC-57231831918E">
		<xs:sequence>
			<xs:element name="foretak" type="dibk:ForetakType" minOccurs="1" maxOccurs="1" seres:orid="60804"/>
			<xs:element name="dekkesOmraaderAvSentralGodkjenning" type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60805"/>
			<xs:element name="ansvarsomraader" type="dibk:AnsvarsomraadeListe" minOccurs="1" maxOccurs="1" seres:orid="60806"/>
			<xs:element name="erklaeringAnsvarligProsjekterende" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60807"/>
			<xs:element name="erklaeringAnsvarligUtfoerende" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60808"/>
			<xs:element name="erklaeringAnsvarligKontrollerende" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60809"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Eiendom" type="dibk:EiendomType"/>
	<xs:complexType name="EiendomListe">
		<xs:sequence>
			<xs:element name="eiendom" type="dibk:EiendomType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EiendomType" seres:guid="http://kommit.metakat.no/Objekttype/Index/EAID_13917B1A-96B0-40f0-811E-18531F8B12E8">
		<xs:sequence>
			<xs:element name="eiendomsidentifikasjon" type="dibk:MatrikkelnummerType" minOccurs="1" maxOccurs="1" seres:orid="60870"/>
			<xs:element name="adresse" type="dibk:EnkelAdresseType" minOccurs="1" maxOccurs="1" seres:orid="60871"/>
			<xs:element name="bygningsnummer" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60872"/>
			<xs:element name="bolignummer" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60873"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="EnkelAdresse" type="dibk:EnkelAdresseType"/>
	<xs:complexType name="EnkelAdresseListe">
		<xs:sequence>
			<xs:element name="enkeladresse" type="dibk:EnkelAdresseType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EnkelAdresseType" seres:guid="http://kommit.metakat.no/Objekttype/Index/EAID_4D484EF8-ADDB-4d54-9C31-FEA685A1ED06">
		<xs:sequence>
			<xs:element name="adresselinje1" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60874"/>
			<xs:element name="adresselinje2" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60875"/>
			<xs:element name="adresselinje3" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60876"/>
			<xs:element name="postnr" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60877"/>
			<xs:element name="poststed" type="xs:string" minOccurs="1" maxOccurs="1" seres:orid="60878"/>
			<xs:element name="landkode" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60879"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ErklaeringAnsvarsrett" type="dibk:ErklaeringAnsvarsrettType"/>
	<xs:complexType name="ErklaeringAnsvarsrettListe">
		<xs:sequence>
			<xs:element name="erklaeringansvarsrett" type="dibk:ErklaeringAnsvarsrettType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ErklaeringAnsvarsrettType" seres:elementtype="Meldingsmodell" seres:guid="http://kommit.metakat.no/Objekttype/Index/EAID_4E8873BA-DB8C-455f-AAF3-61BBD7025234">
		<xs:sequence>
			<xs:element name="soeknadsid" type="xs:string" minOccurs="1" maxOccurs="1" seres:orid="60837"/>
			<xs:element name="byggesaksid" type="xs:string" minOccurs="1" maxOccurs="1" seres:orid="60840"/>
			<xs:element name="eiendomByggested" type="dibk:EiendomListe" minOccurs="1" maxOccurs="1" seres:orid="60845"/>
			<xs:element name="kommunensSaksnummer" type="xs:string" minOccurs="1" maxOccurs="1" seres:orid="60846"/>
			<xs:element name="ansvarsrett" type="dibk:AnsvarsrettType" minOccurs="1" maxOccurs="1" seres:orid="60885"/>
		</xs:sequence>
		<xs:attribute name="dataFormatProvider" type="xs:string" use="required" fixed="KXML"/>
		<xs:attribute name="dataFormatId" type="xs:string" use="required" fixed="1"/>
		<xs:attribute name="dataFormatVersion" type="xs:string" use="required" fixed="1"/>
	</xs:complexType>
	<xs:element name="Foretak" type="dibk:ForetakType"/>
	<xs:complexType name="ForetakListe">
		<xs:sequence>
			<xs:element name="foretak" type="dibk:ForetakType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ForetakType" seres:guid="http://kommit.metakat.no/Objekttype/Index/EAID_65F37E2C-F88F-48bd-9411-9BE484E2E6D7">
		<xs:complexContent>
			<xs:extension base="dibk:PartType">
				<xs:sequence>
					<xs:element name="kontaktperson" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60817"/>
					<xs:element name="harSentralGodkjenning" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60818"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Part" type="dibk:PartType"/>
	<xs:complexType name="PartListe">
		<xs:sequence>
			<xs:element name="part" type="dibk:PartType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartType" seres:guid="http://kommit.metakat.no/Objekttype/Index/EAID_05848394-8CD8-4cf2-B644-C7C46A17F1EA">
		<xs:sequence>
			<xs:element name="partstype" type="dibk:KodeType" minOccurs="1" maxOccurs="1" fiks:codelist="http://register.dev.geonorge.no/subregister/byggesoknad-kodelister/direktoratet-for-byggkvalitet/partstype" seres:orid="60819"/>
			<xs:element name="foedselsnummer" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60820"/>
			<xs:element name="organisasjonsnummer" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60821"/>
			<xs:element name="navn" type="xs:string" minOccurs="1" maxOccurs="1" seres:orid="60822"/>
			<xs:element name="adresse" type="dibk:EnkelAdresseType" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60823"/>
			<xs:element name="telefonnummer" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60824"/>
			<xs:element name="mobilnummer" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60825"/>
			<xs:element name="epost" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60826"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Matrikkelnummer" type="dibk:MatrikkelnummerType"/>
	<xs:complexType name="MatrikkelnummerListe">
		<xs:sequence>
			<xs:element name="matrikkelnummer" type="dibk:MatrikkelnummerType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MatrikkelnummerType" seres:guid="http://kommit.metakat.no/Objekttype/Index/EAID_733FDA02-237E-4a99-A1FC-0E2E8F68D114">
		<xs:sequence>
			<xs:element name="kommunenummer" type="xs:string" minOccurs="1" maxOccurs="1" seres:orid="60880"/>
			<xs:element name="gaardsnummer" type="xs:integer" minOccurs="1" maxOccurs="1" seres:orid="60881"/>
			<xs:element name="bruksnummer" type="xs:integer" minOccurs="1" maxOccurs="1" seres:orid="60882"/>
			<xs:element name="festenummer" type="xs:integer" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60883"/>
			<xs:element name="seksjonsnummer" type="xs:integer" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60884"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
