ks/ebyggesak/2.1/byggesak21.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skjema.kxml.no/byggesak/2.1" xmlns:bs="http://skjema.kxml.no/byggesak/2.1" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" elementFormDefault="qualified" xmlns:planfellesns="http://rep.geointegrasjon.no/Plan/Felles/xml.schema/2012.01.31" xmlns:fellesgeometrins="http://rep.geointegrasjon.no/Felles/Geometri/xml.schema/2012.01.31" xmlns:rest="http://www.kxml.no/rest/1.0" xmlns:matrikkelfellesns="http://rep.geointegrasjon.no/Matrikkel/Felles/xml.schema/2012.01.31">
  <!-- Generert av MetaTrans(1.1.0.0) - 10.09.2018 12:41:30-->
  <xs:import namespace="http://rep.geointegrasjon.no/Plan/Felles/xml.schema/2012.01.31" schemaLocation="http://rep.geointegrasjon.no/Plan/Felles/xml.schema/2012.01.31/giPlanFelles20120131.xsd" />
  <xs:import namespace="http://rep.geointegrasjon.no/Felles/Geometri/xml.schema/2012.01.31" schemaLocation="http://rep.geointegrasjon.no/Felles/Geometri/xml.schema/2012.01.31/giFellesGeometri20120131.xsd" />
  <xs:import namespace="http://www.kxml.no/rest/1.0" schemaLocation="rest.xsd" />
  <xs:import namespace="http://rep.geointegrasjon.no/Matrikkel/Felles/xml.schema/2012.01.31" schemaLocation="http://rep.geointegrasjon.no/Matrikkel/Felles/xml.schema/2012.01.31/giMatrikkelFelles20120131.xsd" />
  <xs:element name="Adresse" type="bs:AdresseType" />
  <xs:complexType name="AdresseListe">
    <xs:sequence>
      <xs:element name="adresse" type="bs:AdresseType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AdresseType" sawsdl:modelReference="http://kommit.metakat.no/Objekttype/Index/EAID_">
    <xs:sequence>
      <xs:element name="adressekode" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
      <xs:element name="adressenavn" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
      <xs:element name="adressenummer" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
      <xs:element name="adressebokstav" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
      <xs:element name="undernummer" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Aktivitet" type="bs:AktivitetType" />
  <xs:complexType name="AktivitetListe">
    <xs:sequence>
      <xs:element name="aktivitet" type="bs:AktivitetType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AktivitetType" sawsdl:modelReference="http://kommit.metakat.no/Objekttype/Index/EAID_">
    <xs:complexContent>
      <xs:extension base="rest:AbstraktResourceType">
        <xs:sequence>
          <xs:element name="typeSjekk" minOccurs="1" maxOccurs="1" type="bs:SjekkpunkttypeType" />
          <xs:element name="status" minOccurs="1" maxOccurs="1" type="bs:AktivitetsstatusType" />
          <xs:element name="beskrivelse" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="frist" minOccurs="0" maxOccurs="1" nillable="true" type="xs:dateTime" />
          <xs:element name="kommentar" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="ansvarlig" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="dokumentkategori" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="referanseJournalpost" minOccurs="0" maxOccurs="1" nillable="true" type="bs:SystemIDType" />
          <xs:element name="referanseDokument" minOccurs="0" maxOccurs="1" nillable="true" type="bs:SystemIDType" />
          <xs:element name="milepel" minOccurs="1" maxOccurs="1" type="bs:MilepelType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Aktivitetsstatus" type="bs:AktivitetsstatusType" sawsdl:modelReference="http://kommit.metakat.no/Objekttype/Index/EAID_" />
  <xs:complexType name="AktivitetsstatusType">
    <xs:sequence>
      <xs:element name="kode" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="beskrivelse" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Avloepstilknytning" type="bs:AvloepstilknytningType" sawsdl:modelReference="http://kommit.metakat.no/Objekttype/Index/EAID_" />
  <xs:complexType name="AvloepstilknytningType">
    <xs:sequence>
      <xs:element name="kode" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="beskrivelse" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Boligadresse" type="bs:BoligadresseType" />
  <xs:complexType name="BoligadresseListe">
    <xs:sequence>
      <xs:element name="boligadresse" type="bs:BoligadresseType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BoligadresseType" sawsdl:modelReference="http://kommit.metakat.no/Objekttype/Index/EAID_">
    <xs:sequence>
      <xs:element name="adressekode" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
      <xs:element name="adressenavn" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
      <xs:element name="adressenummer" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
      <xs:element name="adressebokstav" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
      <xs:element name="seksjonsnummer" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bruksenhet" type="bs:BruksenhetType" />
  <xs:complexType name="BruksenhetListe">
    <xs:sequence>
      <xs:element name="bruksenhet" type="bs:BruksenhetType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BruksenhetType" sawsdl:modelReference="http://kommit.metakat.no/Objekttype/Index/EAID_">
    <xs:sequence>
      <xs:element name="bruksenhetsnummer" minOccurs="1" maxOccurs="1" type="bs:BruksenhetsnummerType" />
      <xs:element name="bruksareal" minOccurs="0" maxOccurs="1" nillable="true" type="xs:double" />
      <xs:element name="kjoekkentilgang" minOccurs="0" maxOccurs="1" nillable="true" type="bs:KjoekkentilgangKodeType" />
      <xs:element name="antallRom" minOccurs="0" maxOccurs="1" nillable="true" type="xs:integer" />
      <xs:element name="antallBad" minOccurs="0" maxOccurs="1" nillable="true" type="xs:integer" />
      <xs:element name="antallWC" minOccurs="0" maxOccurs="1" nillable="true" type="xs:integer" />
      <xs:element name="bruksenhetstype" minOccurs="0" maxOccurs="1" nillable="true" type="bs:BruksenhetstypeKodeType" />
      <xs:element name="adresse" minOccurs="0" maxOccurs="1" nillable="true" type="bs:BoligadresseType" />
      <xs:element name="endring" minOccurs="1" maxOccurs="1" type="bs:EndringsstatusType" />
      <xs:element name="matrikkelnummer" minOccurs="0" maxOccurs="1" nillable="true" type="bs:MatrikkelnummerType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bruksenhetsnummer" type="bs:BruksenhetsnummerType" />
  <xs:complexType name="BruksenhetsnummerListe">
    <xs:sequence>
      <xs:element name="bruksenhetsnummer" type="bs:BruksenhetsnummerType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BruksenhetsnummerType" sawsdl:modelReference="http://kommit.metakat.no/Objekttype/Index/EAID_">
    <xs:sequence>
      <xs:element name="etasjeplan" minOccurs="1" maxOccurs="1" type="bs:EtasjeplanType" />
      <xs:element name="etasjenummer" minOccurs="1" maxOccurs="1" type="xs:integer" />
      <xs:element name="loepenummer" minOccurs="1" maxOccurs="1" type="xs:integer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BruksenhetstypeKode" type="bs:BruksenhetstypeKodeType" sawsdl:modelReference="http://kommit.metakat.no/Objekttype/Index/EAID_" />
  <xs:complexType name="BruksenhetstypeKodeType">
    <xs:sequence>
      <xs:element name="kode" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="beskrivelse" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Byggesak" type="bs:ByggesakType" />
  <xs:complexType name="ByggesakListe">
    <xs:sequence>
      <xs:element name="byggesak" type="bs:ByggesakType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ByggesakType" sawsdl:modelReference="http://kommit.metakat.no/Objekttype/Index/EAID_">
    <xs:complexContent>
      <xs:extension base="rest:AbstraktResourceType">
        <xs:sequence>
          <xs:element name="adresse" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="avsluttetDato" minOccurs="0" maxOccurs="1" nillable="true" type="xs:dateTime" />
          <xs:element name="gjeldendePlan" minOccurs="0" maxOccurs="1" nillable="true" type="planfellesns:NasjonalArealplanIdListe" />
          <xs:element name="matrikkelopplysninger" minOccurs="0" maxOccurs="1" nillable="true" type="bs:MatrikkelopplysningerType" />
          <xs:element name="posisjon" minOccurs="0" maxOccurs="1" nillable="true" type="fellesgeometrins:Punkt" />
          <xs:element name="referanseAndreSaker" minOccurs="0" maxOccurs="1" nillable="true" type="bs:SaksnummerListe" />
          <xs:element name="referanseKlagesaker" minOccurs="0" maxOccurs="1" nillable="true" type="bs:SaksnummerListe" />
          <xs:element name="registrertDato" minOccurs="1" maxOccurs="1" type="xs:dateTime" />
          <xs:element name="saksnummer" minOccurs="1" maxOccurs="1" type="bs:SaksnummerType" />
          <xs:element name="systemId" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="tittel" minOccurs="1" maxOccurs="1" type="xs:string" />
          <xs:element name="tiltakstype" minOccurs="0" maxOccurs="1" nillable="true" type="bs:TiltaktypeListe" />
          <xs:element name="vilkaar" minOccurs="0" maxOccurs="1" nillable="true" type="bs:VilkaarListe" />
          <xs:element name="saksbehandling" minOccurs="0" maxOccurs="1" nillable="true" type="bs:ProsessListe" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Bygning" type="bs:BygningType" />
  <xs:complexType name="BygningListe">
    <xs:sequence>
      <xs:element name="bygning" type="bs:BygningType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BygningType" sawsdl:modelReference="http://kommit.metakat.no/Objekttype/Index/EAID_">
    <xs:sequence>
      <xs:element name="bygningsnummer" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
      <xs:element name="naeringsgruppe" minOccurs="0" maxOccurs="1" nillable="true" type="bs:NaeringsgruppeType" />
      <xs:element name="bygningstype" minOccurs="0" maxOccurs="1" nillable="true" type="bs:BygningstypeType" />
      <xs:element name="bebygdAreal" minOccurs="0" maxOccurs="1" nillable="true" type="xs:double" />
      <xs:element name="etasjer" minOccurs="0" maxOccurs="1" nillable="true" type="bs:EtasjeListe" />
      <xs:element name="avlop" minOccurs="0" maxOccurs="1" nillable="true" type="bs:AvloepstilknytningType" />
      <xs:element name="bruksenheter" minOccurs="0" maxOccurs="1" nillable="true" type="bs:BruksenhetListe" />
      <xs:element name="energiforsyning" minOccurs="0" maxOccurs="1" nillable="true" type="bs:EnergiforsyningType" />
      <xs:element name="vannforsyning" minOccurs="0" maxOccurs="1" nillable="true" type="bs:VanntilknytningType" />
      <xs:element name="harHeis" minOccurs="0" maxOccurs="1" nillable="true" type="xs:boolean" />
      <xs:element name="endring" minOccurs="1" maxOccurs="1" type="bs:EndringsstatusType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Dispensasjon" type="bs:DispensasjonType" />
  <xs:complexType name="DispensasjonListe">
    <xs:sequence>
      <xs:element name="dispensasjon" type="bs:DispensasjonType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DispensasjonType" sawsdl:modelReference="http://kommit.metakat.no/Objekttype/Index/EAID_">
    <xs:complexContent>
      <xs:extension base="rest:AbstraktResourceType">
        <xs:sequence>
          <xs:element name="dispensasjonstype" minOccurs="1" maxOccurs="1" type="bs:DispensasjonstypeType" />
          <xs:element name="begrunnelse" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="fraPlan" minOccurs="0" maxOccurs="1" nillable="true" type="planfellesns:NasjonalArealplanId" />
          <xs:element name="beskrivelse" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Dispensasjonstype" type="bs:DispensasjonstypeType" sawsdl:modelReference="http://kommit.metakat.no/Objekttype/Index/EAID_" />
  <xs:complexType name="DispensasjonstypeType">
    <xs:sequence>
      <xs:element name="kode" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="beskrivelse" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Energiforsyning" type="bs:EnergiforsyningType" />
  <xs:complexType name="EnergiforsyningListe">
    <xs:sequence>
      <xs:element name="energiforsyning" type="bs:EnergiforsyningType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EnergiforsyningType" sawsdl:modelReference="http://kommit.metakat.no/Objekttype/Index/EAID_">
    <xs:sequence>
      <xs:element name="varmefordeling" minOccurs="0" maxOccurs="1" nillable="true" type="bs:VarmefordelingListe" />
      <xs:element name="energiforsyning" minOccurs="0" maxOccurs="1" nillable="true" type="bs:EnergiforsyningTypeListe" />
      <xs:element name="relevant" minOccurs="0" maxOccurs="1" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EnergiforsyningTypeListe">
  <xs:sequence>
    <xs:element name="energiforsyning" type="bs:EnergiforsyningTypeType" minOccurs="0" maxOccurs="unbounded" />
  </xs:sequence>
</xs:complexType>
  <xs:element name="EnergiforsyningType" type="bs:EnergiforsyningTypeType" sawsdl:modelReference="http://kommit.metakat.no/Objekttype/Index/EAID_" />
  <xs:complexType name="EnergiforsyningTypeType">
    <xs:sequence>
      <xs:element name="kode" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="beskrivelse" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Etasje" type="bs:EtasjeType" />
  <xs:complexType name="EtasjeListe">
    <xs:sequence>
      <xs:element name="etasje" type="bs:EtasjeType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EtasjeType" sawsdl:modelReference="http://kommit.metakat.no/Objekttype/Index/EAID_">
    <xs:sequence>
      <xs:element name="antallBoenheter" minOccurs="0" maxOccurs="1" nillable="true" type="xs:integer" />
      <xs:element name="bruksarealTilAnnet" minOccurs="0" maxOccurs="1" nillable="true" type="xs:double" />
      <xs:element name="bruksarealTilBolig" minOccurs="0" maxOccurs="1" nillable="true" type="xs:double" />
      <xs:element name="bruksarealTotalt" minOccurs="0" maxOccurs="1" nillable="true" type="xs:double" />
      <xs:element name="etasjenummer" minOccurs="1" maxOccurs="1" type="xs:integer" />
      <xs:element name="etasjeplan" minOccurs="1" maxOccurs="1" type="bs:EtasjeplanType" />
      <xs:element name="bruttoarealTilBolig" minOccurs="0" maxOccurs="1" nillable="true" type="xs:double" />
      <xs:element name="bruttoarealTilAnnet" minOccurs="0" maxOccurs="1" nillable="true" type="xs:double" />
      <xs:element name="endring" minOccurs="1" maxOccurs="1" type="bs:EndringsstatusType" />
      <xs:element name="bruttoarealTotalt" minOccurs="0" maxOccurs="1" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Etasjeplan" type="bs:EtasjeplanType" sawsdl:modelReference="http://kommit.metakat.no/Objekttype/Index/EAID_" />
  <xs:complexType name="EtasjeplanType">
    <xs:sequence>
      <xs:element name="kode" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="beskrivelse" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Fase" type="bs:FaseType" />
  <xs:complexType name="FaseListe">
    <xs:sequence>
      <xs:element name="fase" type="bs:FaseType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FaseType" sawsdl:modelReference="http://kommit.metakat.no/Objekttype/Index/EAID_">
    <xs:complexContent>
      <xs:extension base="rest:AbstraktResourceType">
        <xs:sequence>
          <xs:element name="fasenavn" minOccurs="1" maxOccurs="1" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Gebyrlinje" type="bs:GebyrlinjeType" />
  <xs:complexType name="GebyrlinjeListe">
    <xs:sequence>
      <xs:element name="gebyrlinje" type="bs:GebyrlinjeType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GebyrlinjeType" sawsdl:modelReference="http://kommit.metakat.no/Objekttype/Index/EAID_">
    <xs:complexContent>
      <xs:extension base="rest:AbstraktResourceType">
        <xs:sequence>
          <xs:element name="id" minOccurs="1" maxOccurs="1" type="xs:integer" />
          <xs:element name="artikkelnummer" minOccurs="1" maxOccurs="1" type="xs:string" />
          <xs:element name="beskrivelse" minOccurs="1" maxOccurs="1" type="xs:string" />
          <xs:element name="antall" minOccurs="1" maxOccurs="1" type="xs:double" />
          <xs:element name="enhet" minOccurs="1" maxOccurs="1" type="xs:string" />
          <xs:element name="pris" minOccurs="1" maxOccurs="1" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="KjoekkentilgangKode" type="bs:KjoekkentilgangKodeType" sawsdl:modelReference="http://kommit.metakat.no/Objekttype/Index/EAID_" />
  <xs:complexType name="KjoekkentilgangKodeType">
    <xs:sequence>
      <xs:element name="kode" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="beskrivelse" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Mangel" type="bs:MangelType" />
  <xs:complexType name="MangelListe">
    <xs:sequence>
      <xs:element name="mangel" type="bs:MangelType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MangelType" sawsdl:modelReference="http://kommit.metakat.no/Objekttype/Index/EAID_">
    <xs:complexContent>
      <xs:extension base="rest:AbstraktResourceType">
        <xs:sequence>
          <xs:element name="systemId" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="type" minOccurs="1" maxOccurs="1" type="bs:MangeltypeType" />
          <xs:element name="status" minOccurs="1" maxOccurs="1" type="bs:MangelstatusType" />
          <xs:element name="registrertDato" minOccurs="0" maxOccurs="1" nillable="true" type="xs:dateTime" />
          <xs:element name="prosess" minOccurs="1" maxOccurs="1" type="bs:ProsessType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Mangelstatus" type="bs:MangelstatusType" sawsdl:modelReference="http://kommit.metakat.no/Objekttype/Index/EAID_" />
  <xs:complexType name="MangelstatusType">
    <xs:sequence>
      <xs:element name="kode" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="beskrivelse" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Mangeltype" type="bs:MangeltypeType" sawsdl:modelReference="http://kommit.metakat.no/Objekttype/Index/EAID_" />
  <xs:complexType name="MangeltypeType">
    <xs:sequence>
      <xs:element name="kode" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="beskrivelse" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Matrikkelopplysninger" type="bs:MatrikkelopplysningerType" />
  <xs:complexType name="MatrikkelopplysningerListe">
    <xs:sequence>
      <xs:element name="matrikkelopplysninger" type="bs:MatrikkelopplysningerType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MatrikkelopplysningerType" sawsdl:modelReference="http://kommit.metakat.no/Objekttype/Index/EAID_">
    <xs:sequence>
      <xs:element name="eiendomsidentifikasjon" minOccurs="0" maxOccurs="1" nillable="true" type="bs:MatrikkelnummerListe" />
      <xs:element name="adresse" minOccurs="0" maxOccurs="1" nillable="true" type="bs:AdresseListe" />
      <xs:element name="bygning" minOccurs="0" maxOccurs="1" nillable="true" type="bs:BygningListe" />
      <xs:element name="oppdatertDato" minOccurs="0" maxOccurs="1" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Milepel" type="bs:MilepelType" />
  <xs:complexType name="MilepelListe">
    <xs:sequence>
      <xs:element name="milepel" type="bs:MilepelType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MilepelType" sawsdl:modelReference="http://kommit.metakat.no/Objekttype/Index/EAID_">
    <xs:complexContent>
      <xs:extension base="rest:AbstraktResourceType">
        <xs:sequence>
          <xs:element name="systemId" minOccurs="1" maxOccurs="1" type="xs:string" />
          <xs:element name="beskrivelse" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="kategori" minOccurs="1" maxOccurs="1" type="bs:MilepeltypeType" />
          <xs:element name="frist" minOccurs="0" maxOccurs="1" nillable="true" type="xs:date" />
          <xs:element name="utfoert" minOccurs="0" maxOccurs="1" nillable="true" type="xs:date" />
          <xs:element name="journaldato" minOccurs="0" maxOccurs="1" nillable="true" type="xs:date" />
          <xs:element name="intern" minOccurs="1" maxOccurs="1" type="xs:boolean" />
          <xs:element name="referanseJournalpost" minOccurs="0" maxOccurs="1" nillable="true" type="bs:SystemIDType" />
          <xs:element name="referanseDokument" minOccurs="0" maxOccurs="1" nillable="true" type="bs:SystemIDType" />
          <xs:element name="faseFoerMilepel" minOccurs="0" maxOccurs="1" nillable="true" type="bs:FaseType" />
          <xs:element name="faseEtterMilepel" minOccurs="0" maxOccurs="1" nillable="true" type="bs:FaseType" />
          <xs:element name="sjekkliste" minOccurs="0" maxOccurs="1" nillable="true" type="bs:AktivitetListe" />
          <xs:element name="prosess" minOccurs="1" maxOccurs="1" type="bs:ProsessType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Milepeltype" type="bs:MilepeltypeType" sawsdl:modelReference="http://kommit.metakat.no/Objekttype/Index/EAID_" />
  <xs:complexType name="MilepeltypeType">
    <xs:sequence>
      <xs:element name="kode" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="beskrivelse" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Prosess" type="bs:ProsessType" />
  <xs:complexType name="ProsessListe">
    <xs:sequence>
      <xs:element name="prosess" type="bs:ProsessType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProsessType" sawsdl:modelReference="http://kommit.metakat.no/Objekttype/Index/EAID_">
    <xs:complexContent>
      <xs:extension base="rest:AbstraktResourceType">
        <xs:sequence>
          <xs:element name="systemId" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="kategori" minOccurs="1" maxOccurs="1" type="bs:ProsesskategoriType" />
          <xs:element name="antallUkerFrist" minOccurs="0" maxOccurs="1" nillable="true" type="xs:integer" />
          <xs:element name="medDispensasjon" minOccurs="0" maxOccurs="1" nillable="true" type="xs:boolean" />
          <xs:element name="medReguleringsendring" minOccurs="0" maxOccurs="1" nillable="true" type="xs:boolean" />
          <xs:element name="prosesskoe" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="prosessteam" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="prosessansvarlig" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="gebyrunderlag" minOccurs="0" maxOccurs="1" nillable="true" type="bs:GebyrlinjeListe" />
          <xs:element name="byggesak" minOccurs="1" maxOccurs="1" type="bs:ByggesakType" />
          <xs:element name="resultat" minOccurs="0" maxOccurs="1" nillable="true" type="bs:VedtakListe" />
          <xs:element name="milepeler" minOccurs="0" maxOccurs="1" nillable="true" type="bs:MilepelListe" />
          <xs:element name="mangler" minOccurs="0" maxOccurs="1" nillable="true" type="bs:MangelListe" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Prosesskategori" type="bs:ProsesskategoriType" sawsdl:modelReference="http://kommit.metakat.no/Objekttype/Index/EAID_" />
  <xs:complexType name="ProsesskategoriType">
    <xs:sequence>
      <xs:element name="kode" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="beskrivelse" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Saksnummer" type="bs:SaksnummerType" />
  <xs:complexType name="SaksnummerListe">
    <xs:sequence>
      <xs:element name="saksnummer" type="bs:SaksnummerType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SaksnummerType" sawsdl:modelReference="http://kommit.metakat.no/Objekttype/Index/EAID_">
    <xs:sequence>
      <xs:element name="saksaar" minOccurs="1" maxOccurs="1" type="xs:integer" />
      <xs:element name="sakssekvensnummer" minOccurs="1" maxOccurs="1" type="xs:integer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sjekkpunkttype" type="bs:SjekkpunkttypeType" sawsdl:modelReference="http://kommit.metakat.no/Objekttype/Index/EAID_" />
  <xs:complexType name="SjekkpunkttypeType">
    <xs:sequence>
      <xs:element name="kode" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="beskrivelse" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="SystemIDType">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
<xs:complexType name="SystemIDListe">
    <xs:sequence>
      <xs:element name="systemid" type="bs:SystemIDType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tiltaktype" type="bs:TiltaktypeType" sawsdl:modelReference="http://kommit.metakat.no/Objekttype/Index/EAID_" />
  <xs:complexType name="TiltaktypeType">
    <xs:sequence>
      <xs:element name="kode" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="beskrivelse" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TiltaktypeListe">
    <xs:sequence>
      <xs:element name="tiltaktype" type="bs:TiltaktypeType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vanntilknytning" type="bs:VanntilknytningType" sawsdl:modelReference="http://kommit.metakat.no/Objekttype/Index/EAID_" />
  <xs:complexType name="VanntilknytningType">
    <xs:sequence>
      <xs:element name="kode" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="beskrivelse" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VarmefordelingListe">
    <xs:sequence>
      <xs:element name="varmefordeling" type="bs:VarmefordelingType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Varmefordeling" type="bs:VarmefordelingType" sawsdl:modelReference="http://kommit.metakat.no/Objekttype/Index/EAID_" />
  <xs:complexType name="VarmefordelingType">
    <xs:sequence>
      <xs:element name="kode" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="beskrivelse" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vedtak" type="bs:VedtakType" />
  <xs:complexType name="VedtakListe">
    <xs:sequence>
      <xs:element name="vedtak" type="bs:VedtakType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VedtakType" sawsdl:modelReference="http://kommit.metakat.no/Objekttype/Index/EAID_">
    <xs:complexContent>
      <xs:extension base="rest:AbstraktResourceType">
        <xs:sequence>
          <xs:element name="systemId" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="beskrivelse" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="vedtaksdato" minOccurs="1" maxOccurs="1" type="xs:dateTime" />
          <xs:element name="status" minOccurs="1" maxOccurs="1" type="bs:VedtakstypeType" />
          <xs:element name="referanseDokumentVedtak" minOccurs="1" maxOccurs="1" type="bs:SystemIDType" />
          <xs:element name="referanseJournalpostVedtak" minOccurs="1" maxOccurs="1" type="bs:SystemIDType" />
          <xs:element name="referanseUnderlagsdokumenter" minOccurs="0" maxOccurs="1" nillable="true" type="bs:SystemIDListe" />
          <xs:element name="dispensasjoner" minOccurs="0" maxOccurs="1" nillable="true" type="bs:DispensasjonListe" />
          <xs:element name="hjemmel" minOccurs="0" maxOccurs="unbounded" nillable="true" type="xs:string" />
          <xs:element name="vedtakFra" minOccurs="0" maxOccurs="1" nillable="true" type="bs:VedtakFraType" />
          <xs:element name="prosess" minOccurs="1" maxOccurs="1" type="bs:ProsessType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VedtakFra" type="bs:VedtakFraType" sawsdl:modelReference="http://kommit.metakat.no/Objekttype/Index/EAID_" />
  <xs:complexType name="VedtakFraType">
    <xs:sequence>
      <xs:element name="kode" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="beskrivelse" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vilkaar" type="bs:VilkaarType" />
  <xs:complexType name="VilkaarListe">
    <xs:sequence>
      <xs:element name="vilkaar" type="bs:VilkaarType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VilkaarType" sawsdl:modelReference="http://kommit.metakat.no/Objekttype/Index/EAID_">
    <xs:complexContent>
      <xs:extension base="rest:AbstraktResourceType">
        <xs:sequence>
          <xs:element name="vilkaarId" minOccurs="1" maxOccurs="1" type="xs:string" />
          <xs:element name="beskrivelse" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="vilkaarTilProsess" minOccurs="1" maxOccurs="1" type="bs:ProsesskategoriType" />
          <xs:element name="byggesak" minOccurs="1" maxOccurs="1" type="bs:ByggesakType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Vedtakstype" type="bs:VedtakstypeType" sawsdl:modelReference="http://kommit.metakat.no/Objekttype/Index/EAID_" />
  <xs:complexType name="VedtakstypeType">
    <xs:sequence>
      <xs:element name="kode" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="beskrivelse" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bygningstype" type="bs:BygningstypeType" sawsdl:modelReference="http://kommit.metakat.no/Objekttype/Index/EAID_" />
  <xs:complexType name="BygningstypeType">
    <xs:sequence>
      <xs:element name="kode" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="beskrivelse" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Matrikkelnummer" type="bs:MatrikkelnummerType" />
  <xs:complexType name="MatrikkelnummerListe">
    <xs:sequence>
      <xs:element name="matrikkelnummer" type="bs:MatrikkelnummerType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MatrikkelnummerType" sawsdl:modelReference="http://kommit.metakat.no/Objekttype/Index/EAID_">
    <xs:sequence>
      <xs:element name="kommunenummer" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
      <xs:element name="gaardsnummer" minOccurs="0" maxOccurs="1" nillable="true" type="xs:integer" />
      <xs:element name="bruksnummer" minOccurs="0" maxOccurs="1" nillable="true" type="xs:integer" />
      <xs:element name="festenummer" minOccurs="0" maxOccurs="1" nillable="true" type="xs:integer" />
      <xs:element name="seksjonsnummer" minOccurs="0" maxOccurs="1" nillable="true" type="xs:integer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Naeringsgruppe" type="bs:NaeringsgruppeType" sawsdl:modelReference="http://kommit.metakat.no/Objekttype/Index/EAID_" />
  <xs:complexType name="NaeringsgruppeType">
    <xs:sequence>
      <xs:element name="kode" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="beskrivelse" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="EndringsstatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Eksisterende" />
      <xs:enumeration value="Ny" />
      <xs:enumeration value="Endret" />
      <xs:enumeration value="Fjernet" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="EndringsstatusListe">
    <xs:sequence>
      <xs:element name="endringsstatus" type="bs:EndringsstatusType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>