dibk/tiltakutenansvarsrett/0.9/tiltakutenansvarsrett09.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ta="http://skjema.kxml.no/dibk/tiltakutenansvarsrett/0.9" xmlns:seres="http://seres.no/xsd/forvaltningsdata" xmlns:fiks="http://skjema.kxml.no/metadata" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" targetNamespace="http://skjema.kxml.no/dibk/tiltakutenansvarsrett/0.9" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation>
			<xs:attribute name="XSLT-skriptnavn" fixed="METATRANS_SERES_XSD_GEN"/>
			<xs:attribute name="XSD-generatorversjon" fixed="2.0.13"/>
			<xs:attribute name="XSLT-prosessor" fixed="SAXON versjon 9.1.0.7"/>
			<xs:attribute name="generert" fixed="02.03.2016 14.12.43"/>
			<xs:attribute name="navneromprefix" fixed="http://seres.no/xsd"/>
			<xs:attribute name="namespace" fixed="http://skjema.kxml.no/dibk/tiltakutenansvarsrett/0.9"/>
			<xs:attribute name="meldingsnavn" fixed="Melding"/>
			<xs:attribute name="domenenavn" fixed="DiBK"/>
			<xs:attribute name="modellnavn" fixed="MeldingType"/>
			<xs:attribute name="metamodellversjon" fixed="1.0"/>
			<xs:attribute name="guid" fixed="true"/>
			<xs:attribute name="orid" fixed="true"/>
			<xs:attribute name="nillable" fixed="true"/>
			<xs:attribute name="tillat-gjenbruk" fixed="true"/>
			<xs:attribute name="elementtype" fixed="true"/>
			<xs:attribute name="forvaltningsdata" fixed="true"/>
			<xs:attribute name="forvaltningsdata-navnerom" fixed="http://seres.no/xsd/forvaltningsdata"/>
			<xs:attribute name="særnorske-bokstaver-i-navn" fixed="false"/>
			<xs:attribute name="ft_guid_som_attributt" fixed="false"/>
			<xs:attribute name="sem-ref" fixed="true"/>
			<xs:attribute name="kodebibliotek" fixed="false"/>
			<xs:attribute name="språk" fixed="no"/>
			<xs:attribute name="XSD-variant" fixed="Altinn"/>
			<xs:attribute name="XSD-transformatorversjon" fixed="1.2"/>
		</xs:documentation>
	</xs:annotation>
	<!-- Generert av MetaTrans(1.1.0.0) - 02.03.2016 14.12.43-->
	<xs:element name="Kode" type="ta:KodeType"/>
	<xs:complexType name="KodeListe">
		<xs:sequence>
			<xs:element name="kode" type="ta:KodeType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="KodeType" seres:guid="http://kommit.metakat.no/Objekttype/Index/EAID_">
		<xs:sequence>
			<xs:element name="kodeverdi" type="xs:string" minOccurs="1" maxOccurs="1" seres:orid="1"/>
			<xs:element name="kodebeskrivelse" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="2"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Arealdisponering" type="ta:ArealdisponeringType"/>
	<xs:complexType name="ArealdisponeringListe">
		<xs:sequence>
			<xs:element name="arealdisponering" type="ta:ArealdisponeringType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ArealdisponeringType" seres:guid="http://kommit.metakat.no/Objekttype/Index/EAID_8DCF350D-4B2F-4a3c-BC30-8CDB40B9C395">
		<xs:sequence>
			<xs:element name="tomtearealByggeomraade" type="xs:double" minOccurs="1" maxOccurs="1" seres:orid="60071"/>
			<xs:element name="gjeldendePlan" type="ta:PlanType" minOccurs="1" maxOccurs="1" seres:orid="60072"/>
			<xs:element name="tomtearealSomTrekkesFra" type="xs:double" minOccurs="1" maxOccurs="1" seres:orid="60073"/>
			<xs:element name="tomtearealSomLeggesTil" type="xs:double" minOccurs="1" maxOccurs="1" seres:orid="60074"/>
			<xs:element name="tomtearealBeregnet" type="xs:double" minOccurs="1" maxOccurs="1" seres:orid="60075"/>
			<xs:element name="beregnetMaksByggeareal" type="xs:double" minOccurs="1" maxOccurs="1" seres:orid="60076"/>
			<xs:element name="arealBebyggelseEksisterende" type="xs:double" minOccurs="1" maxOccurs="1" seres:orid="60077"/>
			<xs:element name="arealBebyggelseSomSkalRives" type="xs:double" minOccurs="1" maxOccurs="1" seres:orid="60078"/>
			<xs:element name="arealBebyggelseNytt" type="xs:double" minOccurs="1" maxOccurs="1" seres:orid="60079"/>
			<xs:element name="parkeringsarealTerreng" type="xs:double" minOccurs="1" maxOccurs="1" seres:orid="60080"/>
			<xs:element name="arealSumByggesak" type="xs:double" minOccurs="1" maxOccurs="1" seres:orid="60081"/>
			<xs:element name="beregnetGradAvUtnytting" type="xs:double" minOccurs="1" maxOccurs="1" seres:orid="60082"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Avloep" type="ta:AvloepType"/>
	<xs:complexType name="AvloepListe">
		<xs:sequence>
			<xs:element name="avloep" type="ta:AvloepType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AvloepType" seres:guid="http://kommit.metakat.no/Objekttype/Index/EAID_1D56F7EB-0A94-4de0-84ED-018B91440769">
		<xs:sequence>
			<xs:element name="tilknytningstype" type="ta:KodeType" nillable="true" minOccurs="0" maxOccurs="1" fiks:codelist="http://register.dibk.no/byggesak/kodelister/avloepstilknytning" seres:orid="59840"/>
			<xs:element name="installereVannklosett" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="59841"/>
			<xs:element name="utslippstillatelse" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="59842"/>
			<xs:element name="krysserAvloepAnnensGrunn" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="59843"/>
			<xs:element name="tinglystErklaering" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="59844"/>
			<xs:element name="overvannTerreng" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="59845"/>
			<xs:element name="overvannAvloepssystem" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="59846"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Dispensasjon" type="ta:DispensasjonType"/>
	<xs:complexType name="DispensasjonListe">
		<xs:sequence>
			<xs:element name="dispensasjon" type="ta:DispensasjonType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DispensasjonType" seres:guid="http://kommit.metakat.no/Objekttype/Index/EAID_F1A06A7D-A2A9-47f9-AAC0-A57973E0D970">
		<xs:sequence>
			<xs:element name="dispensasjonstype" type="ta:KodeType" minOccurs="1" maxOccurs="unbounded" fiks:codelist="http://register.dev.geonorge.no/subregister/kodelister/direktoratet-for-byggkvalitet/byggesoknad-kodelister " seres:orid="60174"/>
			<xs:element name="begrunnelse" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60175"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Eiendom" type="ta:EiendomType"/>
	<xs:complexType name="EiendomListe">
		<xs:sequence>
			<xs:element name="eiendom" type="ta:EiendomType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EiendomType" seres:guid="http://kommit.metakat.no/Objekttype/Index/EAID_658F2603-FBFA-4353-B2D3-D941FAAC8ABB">
		<xs:sequence>
			<xs:element name="adresse" type="ta:EnkelAdresseType" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60032"/>
			<xs:element name="eiendomsidentifikasjon" type="ta:MatrikkelnummerType" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60033"/>
			<xs:element name="bygningsnummer" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60034"/>
			<xs:element name="bolignummer" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60035"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="EnkelAdresse" type="ta:EnkelAdresseType"/>
	<xs:complexType name="EnkelAdresseListe">
		<xs:sequence>
			<xs:element name="enkeladresse" type="ta:EnkelAdresseType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EnkelAdresseType" seres:guid="http://kommit.metakat.no/Objekttype/Index/EAID_0107EFEA-4DC2-472a-9CCF-BF4FA40FE94B">
		<xs:sequence>
			<xs:element name="adresselinje1" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="59826"/>
			<xs:element name="adresselinje2" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="59827"/>
			<xs:element name="adresselinje3" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="59828"/>
			<xs:element name="postnr" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="59829"/>
			<xs:element name="poststed" type="xs:string" minOccurs="1" maxOccurs="1" seres:orid="59830"/>
			<xs:element name="landkode" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="59831"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Formaal" type="ta:FormaalType"/>
	<xs:complexType name="FormaalListe">
		<xs:sequence>
			<xs:element name="formaal" type="ta:FormaalType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FormaalType" seres:guid="http://kommit.metakat.no/Objekttype/Index/EAID_2CCFF41A-50D9-45e6-948C-802623D458D8">
		<xs:sequence>
			<xs:element name="naeringsgruppe" type="ta:KodeType" nillable="true" minOccurs="0" maxOccurs="1" fiks:codelist="http://register.dibk.no/byggesak/kodelister/naeringsgruppe" seres:orid="59848"/>
			<xs:element name="bygningstype" type="ta:KodeType" nillable="true" minOccurs="0" maxOccurs="unbounded" fiks:codelist="http://register.dibk.no/byggesak/kodelister/bygningstype" seres:orid="59849"/>
			<xs:element name="tiltaksformaal" type="ta:KodeType" minOccurs="1" maxOccurs="unbounded" fiks:codelist="http://register.dibk.no/byggesak/kodelister/tiltaksformaal" seres:orid="59850"/>
			<xs:element name="beskrivPlanlagtFormaal" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="59851"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GenerelleVilkaar" type="ta:GenerelleVilkaarType"/>
	<xs:complexType name="GenerelleVilkaarListe">
		<xs:sequence>
			<xs:element name="generellevilkaar" type="ta:GenerelleVilkaarType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenerelleVilkaarType" seres:guid="http://kommit.metakat.no/Objekttype/Index/EAID_E6BCEA64-A127-4391-85D5-917CE9566F6D">
		<xs:sequence>
			<xs:element name="oppfyllesVilkaarFor3Ukersfrist" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60170"/>
			<xs:element name="beroererTidligere1850" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60171"/>
			<xs:element name="behovForTillatelse" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60172"/>
			<xs:element name="soekesOmDispensasjon" type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60173"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="KravTilByggegrunn" type="ta:KravTilByggegrunnType"/>
	<xs:complexType name="KravTilByggegrunnListe">
		<xs:sequence>
			<xs:element name="kravtilbyggegrunn" type="ta:KravTilByggegrunnType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="KravTilByggegrunnType" seres:guid="http://kommit.metakat.no/Objekttype/Index/EAID_186DFF82-FA87-4177-8124-751765245BEB">
		<xs:sequence>
			<xs:element name="flomutsattOmraade" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="59837"/>
			<xs:element name="skredutsattOmraade" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="59838"/>
			<xs:element name="miljoeforhold" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="59839"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Loefteinnretninger" type="ta:LoefteinnretningerType"/>
	<xs:complexType name="LoefteinnretningerListe">
		<xs:sequence>
			<xs:element name="loefteinnretninger" type="ta:LoefteinnretningerType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LoefteinnretningerType" seres:guid="http://kommit.metakat.no/Objekttype/Index/EAID_CD7CBF0A-A4C2-4336-8E7E-9ACCDDFDF0E5">
		<xs:sequence>
			<xs:element name="erLoefteinnretningIBygning" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60109"/>
			<xs:element name="planleggesLoefteinnretningIBygning" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60110"/>
			<xs:element name="planleggesHeis" type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60111"/>
			<xs:element name="planleggesTrappeheis" type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60112"/>
			<xs:element name="planleggesRulletrapp" type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60113"/>
			<xs:element name="planleggesLoefteplattform" type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60114"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Part" type="ta:PartType"/>
	<xs:complexType name="PartListe">
		<xs:sequence>
			<xs:element name="part" type="ta:PartType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartType" seres:guid="http://kommit.metakat.no/Objekttype/Index/EAID_4355FCBE-1E65-411b-B81B-960C97DC7D44">
		<xs:sequence>
			<xs:element name="partstype" type="ta:KodeType" minOccurs="1" maxOccurs="1" fiks:codelist="http://register.dibk.no/byggesak/kodelister/partstype" seres:orid="59856"/>
			<xs:element name="foedselsnummer" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="59857"/>
			<xs:element name="organisasjonsnummer" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="59858"/>
			<xs:element name="navn" type="xs:string" minOccurs="1" maxOccurs="1" seres:orid="59859"/>
			<xs:element name="adresse" type="ta:EnkelAdresseType" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="59860"/>
			<xs:element name="telefonnummer" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="59861"/>
			<xs:element name="mobilnummer" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="59862"/>
			<xs:element name="epost" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="59863"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Plan" type="ta:PlanType"/>
	<xs:complexType name="PlanListe">
		<xs:sequence>
			<xs:element name="plan" type="ta:PlanType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PlanType" seres:guid="http://kommit.metakat.no/Objekttype/Index/EAID_CE0825E2-CB62-4d9e-B0C9-BA5478CAADC9">
		<xs:sequence>
			<xs:element name="utnyttingsgrad" type="xs:double" minOccurs="1" maxOccurs="1" seres:orid="60115"/>
			<xs:element name="plantype" type="ta:KodeType" minOccurs="1" maxOccurs="1" fiks:codelist="http://register.dibk.no/byggesak/kodelister/plantype" seres:orid="60116"/>
			<xs:element name="navn" type="xs:string" minOccurs="1" maxOccurs="1" seres:orid="60117"/>
			<xs:element name="formaal" type="xs:string" minOccurs="1" maxOccurs="1" seres:orid="60118"/>
			<xs:element name="andreRelevanteKrav" type="xs:string" minOccurs="1" maxOccurs="1" seres:orid="60119"/>
			<xs:element name="beregningsregelGradAvUtnytting" type="ta:KodeType" minOccurs="1" maxOccurs="1" fiks:codelist="http://register.dibk.no/byggesak/kodelister/beregningsregelgradavutnytting" seres:orid="60120"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Plassering" type="ta:PlasseringType"/>
	<xs:complexType name="PlasseringListe">
		<xs:sequence>
			<xs:element name="plassering" type="ta:PlasseringType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PlasseringType" seres:guid="http://kommit.metakat.no/Objekttype/Index/EAID_6505AFF4-F793-4296-BF4E-2C0311C676BF">
		<xs:sequence>
			<xs:element name="konfliktHoeyspentkraftlinje" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60027"/>
			<xs:element name="minsteAvstandNabogrense" type="xs:double" minOccurs="1" maxOccurs="1" seres:orid="60028"/>
			<xs:element name="konfliktVannOgAvloep" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60029"/>
			<xs:element name="minsteAvstandTilAnnenBygning" type="xs:double" minOccurs="1" maxOccurs="1" seres:orid="60030"/>
			<xs:element name="minsteAvstandTilMidtenAvVei" type="xs:double" minOccurs="1" maxOccurs="1" seres:orid="60031"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Rammer" type="ta:RammerType"/>
	<xs:complexType name="RammerListe">
		<xs:sequence>
			<xs:element name="rammer" type="ta:RammerType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RammerType" seres:guid="http://kommit.metakat.no/Objekttype/Index/EAID_7DD88E5D-AE1F-410d-8DCB-AB916AC7CF01">
		<xs:sequence>
			<xs:element name="arealdisponering" type="ta:ArealdisponeringType" minOccurs="1" maxOccurs="1" seres:orid="60067"/>
			<xs:element name="generelleVilkaar" type="ta:GenerelleVilkaarType" minOccurs="1" maxOccurs="1" seres:orid="60068"/>
			<xs:element name="kravTilByggegrunn" type="ta:KravTilByggegrunnType" minOccurs="1" maxOccurs="1" seres:orid="60069"/>
			<xs:element name="loefteinnretninger" type="ta:LoefteinnretningerType" minOccurs="1" maxOccurs="1" seres:orid="60070"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Tiltak" type="ta:TiltakType"/>
	<xs:complexType name="TiltakListe">
		<xs:sequence>
			<xs:element name="tiltak" type="ta:TiltakType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TiltakType" seres:guid="http://kommit.metakat.no/Objekttype/Index/EAID_5A8885B7-DC85-4ecc-A9DA-C55A9FC62DE6">
		<xs:sequence>
			<xs:element name="adkomst" type="ta:VegType" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="59891"/>
			<xs:element name="bruk" type="ta:FormaalType" minOccurs="1" maxOccurs="1" seres:orid="59892"/>
			<xs:element name="vannforsyning" type="ta:VannforsyningType" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="59893"/>
			<xs:element name="avloep" type="ta:AvloepType" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="59894"/>
			<xs:element name="type" type="ta:KodeType" minOccurs="1" maxOccurs="unbounded" fiks:codelist="http://register.dibk.no/byggesak/kodelister/tiltakstype" seres:orid="59895"/>
			<xs:element name="plassering" type="ta:PlasseringType" minOccurs="1" maxOccurs="1" seres:orid="59896"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="TiltakUtenAnsvarsrett" type="ta:TiltakUtenAnsvarsrettType"/>
	<xs:complexType name="TiltakUtenAnsvarsrettListe">
		<xs:sequence>
			<xs:element name="tiltakutenansvarsrett" type="ta:TiltakUtenAnsvarsrettType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TiltakUtenAnsvarsrettType" seres:elementtype="Meldingsmodell" seres:guid="http://kommit.metakat.no/Objekttype/Index/EAID_E6A0A25F-E9DA-42f3-946F-2CDF0B7D7483">
		<xs:sequence>
			<xs:element name="eiendomByggested" type="ta:EiendomListe" minOccurs="1" maxOccurs="1" seres:orid="60163"/>
			<xs:element name="beskrivelseAvTiltak" type="ta:TiltakListe" minOccurs="1" maxOccurs="1" seres:orid="60164"/>
			<xs:element name="tiltakshaver" type="ta:PartType" minOccurs="1" maxOccurs="1" seres:orid="60165"/>
			<xs:element name="dispensasjon" type="ta:DispensasjonType" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60166"/>
			<xs:element name="varsling" type="ta:VarslingType" minOccurs="1" maxOccurs="1" seres:orid="60167"/>
			<xs:element name="vedlegg" type="ta:VedleggListe" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60168"/>
			<xs:element name="rammebetingelser" type="ta:RammerType" minOccurs="1" maxOccurs="1" seres:orid="60169"/>
		</xs:sequence>
		<xs:attribute name="dataFormatProvider" type="xs:string" use="required" fixed="KXML"/>
		<xs:attribute name="dataFormatId" type="xs:string" use="required" fixed="1"/>
		<xs:attribute name="dataFormatVersion" type="xs:string" use="required" fixed="1"/>
	</xs:complexType>
	<xs:element name="Vannforsyning" type="ta:VannforsyningType"/>
	<xs:complexType name="VannforsyningListe">
		<xs:sequence>
			<xs:element name="vannforsyning" type="ta:VannforsyningType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VannforsyningType" seres:guid="http://kommit.metakat.no/Objekttype/Index/EAID_CC3159B7-12FD-45a8-AAAC-A19CA0AC107D">
		<xs:sequence>
			<xs:element name="tilknytningstype" type="ta:KodeType" nillable="true" minOccurs="0" maxOccurs="unbounded" fiks:codelist="http://register.dibk.no/byggesak/kodelister/vanntilknytning" seres:orid="60105"/>
			<xs:element name="beskrivelse" type="xs:string" minOccurs="1" maxOccurs="1" seres:orid="60106"/>
			<xs:element name="krysserVannforsyningAnnensGrunn" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60107"/>
			<xs:element name="tinglystErklaering" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60108"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Varsling" type="ta:VarslingType"/>
	<xs:complexType name="VarslingListe">
		<xs:sequence>
			<xs:element name="varsling" type="ta:VarslingType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VarslingType" seres:guid="http://kommit.metakat.no/Objekttype/Index/EAID_5EF99DC6-2C5B-4b34-B736-C1C40CCB9767">
		<xs:sequence>
			<xs:element name="foreliggerMerknader" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60023"/>
			<xs:element name="antallMerknader" type="xs:integer" minOccurs="1" maxOccurs="1" seres:orid="60024"/>
			<xs:element name="vurderingAvMerknader" type="xs:string" minOccurs="1" maxOccurs="1" seres:orid="60025"/>
			<xs:element name="soeknadensHjemmeside" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60026"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Vedlegg" type="ta:VedleggType"/>
	<xs:complexType name="VedleggListe">
		<xs:sequence>
			<xs:element name="vedlegg" type="ta:VedleggType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VedleggType" seres:guid="http://kommit.metakat.no/Objekttype/Index/EAID_AD269A35-B579-4158-8B4D-E869C4C6F020">
		<xs:sequence>
			<xs:element name="elektroniskVedlegg" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60088"/>
			<xs:element name="filnavn" type="xs:string" minOccurs="1" maxOccurs="1" seres:orid="60089"/>
			<xs:element name="kommentar" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60090"/>
			<xs:element name="postbasertVedlegg" type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60091"/>
			<xs:element name="vedleggstype" type="ta:KodeType" minOccurs="1" maxOccurs="1" fiks:codelist="http://register.dibk.no/byggesak/kodelister/vedleggstype" seres:orid="60092"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Veg" type="ta:VegType"/>
	<xs:complexType name="VegListe">
		<xs:sequence>
			<xs:element name="veg" type="ta:VegType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VegType" seres:guid="http://kommit.metakat.no/Objekttype/Index/EAID_A6FA4D67-116D-4249-A060-186EE9A0D6B1">
		<xs:sequence>
			<xs:element name="nyeEndretAdkomst" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60083"/>
			<xs:element name="vegtype" type="ta:KodeType" nillable="true" minOccurs="0" maxOccurs="unbounded" fiks:codelist="http://register.dibk.no/byggesak/kodelister/vegtype" seres:orid="60084"/>
			<xs:element name="erTillatelseGittRiksFylkesveg" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60085"/>
			<xs:element name="erTillatelseGittKommunalVeg" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60086"/>
			<xs:element name="erTillatelseGittPrivatVeg" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60087"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Matrikkelnummer" type="ta:MatrikkelnummerType"/>
	<xs:complexType name="MatrikkelnummerListe">
		<xs:sequence>
			<xs:element name="matrikkelnummer" type="ta:MatrikkelnummerType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MatrikkelnummerType" seres:guid="http://kommit.metakat.no/Objekttype/Index/EAID_C8C5BC9E-5235-4222-ADA9-0DF02338E16D">
		<xs:sequence>
			<xs:element name="kommunenummer" type="xs:string" minOccurs="1" maxOccurs="1" seres:orid="60097"/>
			<xs:element name="gaardsnummer" type="xs:integer" minOccurs="1" maxOccurs="1" seres:orid="60098"/>
			<xs:element name="bruksnummer" type="xs:integer" minOccurs="1" maxOccurs="1" seres:orid="60099"/>
			<xs:element name="festenummer" type="xs:integer" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60100"/>
			<xs:element name="seksjonsnummer" type="xs:integer" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60101"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
