sak/skjemavalidering-v2/skjemavalidering-v2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Skjemavalidering" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skjema.kxml.no/sak/skjemavalidering-v2" xmlns:skjv="http://skjema.kxml.no/sak/skjemavalidering-v2" xmlns:fellestekniskns="http://rep.geointegrasjon.no/Felles/Teknisk/xml.schema/2012.01.31">
  <!--Generert av MetaTrans(0.9.0.0) - 06.09.2012 10:42:01-->
  <wsdl:types>
    <xs:schema targetNamespace="http://skjema.kxml.no/sak/skjemavalidering-v2" xmlns:skjv="http://skjema.kxml.no/sak/skjemavalidering-v2" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:fellestekniskns="http://rep.geointegrasjon.no/Felles/Teknisk/xml.schema/2012.01.31" xmlns:skj="http://skjema.kxml.no/skjemaresultat/skjema-v2">
      <xs:include schemaLocation="skjemavalidering.xsd" />
      <xs:import namespace="http://rep.geointegrasjon.no/Felles/Teknisk/xml.schema/2012.01.31" schemaLocation="http://rep.geointegrasjon.no/Felles/Teknisk/xml.schema/2012.01.31/giFellesTeknisk20120131.xsd" />
      <xs:import namespace="http://skjema.kxml.no/skjemaresultat/skjema-v2" schemaLocation="http://skjema.kxml.no/skjemaresultat/skjema-v2/skjema-v2.xsd" />
      <xs:element name="SjekkGyldigSkjemaresultat">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="resultat" type="skj:SkjemaresultatType" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SjekkGyldigSkjemaresultatResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="skjv:ValideringsresultatType" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="SystemFaultMessage">
    <wsdl:part name="fault" element="fellestekniskns:SystemFault" />
  </wsdl:message>
  <wsdl:message name="SjekkGyldigSkjemaresultatMessage">
    <wsdl:part name="parameters" element="skjv:SjekkGyldigSkjemaresultat" />
  </wsdl:message>
  <wsdl:message name="SjekkGyldigSkjemaresultatResponseMessage">
    <wsdl:part name="parameters" element="skjv:SjekkGyldigSkjemaresultatResponse" />
  </wsdl:message>
  <wsdl:portType name="SkjemavalideringPort">
    <wsdl:operation name="SjekkGyldigSkjemaresultat">
      <wsdl:input name="SjekkGyldigSkjemaresultatRequest" message="skjv:SjekkGyldigSkjemaresultatMessage" />
      <wsdl:output name="SjekkGyldigSkjemaresultatResponse" message="skjv:SjekkGyldigSkjemaresultatResponseMessage" />
      <wsdl:fault name="SystemFault" message="skjv:SystemFaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SkjemavalideringSoap" type="skjv:SkjemavalideringPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SjekkGyldigSkjemaresultat">
      <soap:operation style="document" soapAction="http://skjema.kxml.no/sak/skjemavalidering-v2/#SjekkGyldigSkjemaresultat" />
      <wsdl:input name="SjekkGyldigSkjemaresultatRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SjekkGyldigSkjemaresultatResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault use="literal" name="SystemFault" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Skjemavalidering">
    <wsdl:port name="Skjemavalidering" binding="skjv:SkjemavalideringSoap">
      <soap:address location="http://skjema.kxml.no/sak/skjemavalidering-v2" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>