byggesak/byggesak-resultat-v2/matrikkel/bygning.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 2 (http://www.altova.com) by Thor Kristoffersen (Norwegian Computing Center) -->
<xs:schema xmlns:adressens="http://matrikkel.statkart.no/eksternapi/innsyn/v3/modell/adresse" xmlns:bygningns="http://matrikkel.statkart.no/eksternapi/innsyn/v3/modell/bygning" xmlns:fellesns="http://matrikkel.statkart.no/eksternapi/innsyn/v3/modell/felles" xmlns:matrikkelenhetns="http://matrikkel.statkart.no/eksternapi/innsyn/v3/modell/matrikkelenhet" xmlns:personns="http://matrikkel.statkart.no/eksternapi/innsyn/v3/modell/person" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://matrikkel.statkart.no/eksternapi/innsyn/v3/modell/kodeliste" xmlns:s2="http://matrikkel.statkart.no/eksternapi/innsyn/v3/service/kodeliste" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://matrikkel.statkart.no/eksternapi/innsyn/v3/modell/bygning" elementFormDefault="qualified" version="1.0 - [Matrikkelen v.2.1.1]">
	<!--<xs:import namespace="http://matrikkel.statkart.no/eksternapi/innsyn/v3/modell/felles"/>-->
	<xs:import namespace="http://matrikkel.statkart.no/eksternapi/innsyn/v3/modell/felles" schemaLocation="felles.xsd"/>
	<!--<xs:import namespace="http://matrikkel.statkart.no/eksternapi/innsyn/v3/modell/matrikkelenhet"/>-->
	<xs:import namespace="http://matrikkel.statkart.no/eksternapi/innsyn/v3/modell/matrikkelenhet" schemaLocation="matrikkelenhet.xsd"/>
	<!--<xs:import namespace="http://matrikkel.statkart.no/eksternapi/innsyn/v3/modell/adresse"/>-->
	<xs:import namespace="http://matrikkel.statkart.no/eksternapi/innsyn/v3/modell/adresse" schemaLocation="adresse.xsd"/>
	<!--<xs:import namespace="http://matrikkel.statkart.no/eksternapi/innsyn/v3/modell/person"/>-->
	<xs:import namespace="http://matrikkel.statkart.no/eksternapi/innsyn/v3/modell/person" schemaLocation="person.xsd"/>
	<!-- ================================================= -->
	<!-- Package: bygning  -->
	<!-- ================================================= -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- Class: AvlopsKode  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:complexType name="AvlopsKode">
		<xs:complexContent>
			<xs:extension base="fellesns:Kode"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- Class: Bruksenhet  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:complexType name="Bruksenhet">
		<xs:complexContent>
			<xs:extension base="fellesns:MatrikkelObject">
				<xs:sequence>
					<xs:element name="antallRom" type="xs:int"/>
					<xs:element name="antallBad" type="xs:int"/>
					<xs:element name="antallWC" type="xs:int"/>
					<xs:element name="bruksareal" type="xs:double"/>
					<xs:element name="bruksenhetIdent" type="bygningns:BruksenhetIdent"/>
					<xs:element name="bruksenhetstypeKode" type="bygningns:BruksenhetstypeKode"/>
					<xs:element name="kjokkenKode" type="bygningns:KjokkenKode"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- Class: BruksenhetIdent  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:complexType name="BruksenhetIdent">
		<xs:complexContent>
			<xs:extension base="fellesns:Ident">
				<xs:sequence>
					<xs:element name="etasjenr" type="xs:int" minOccurs="0"/>
					<xs:element name="lopenr" type="xs:int" minOccurs="0"/>
					<xs:element name="etasjeplanKode" type="bygningns:EtasjeplanKode" minOccurs="0"/>
					<xs:element name="adresseIdent" type="adressens:AdresseIdent" minOccurs="0"/>
					<xs:element name="matrikkelenhetIdent" type="matrikkelenhetns:MatrikkelenhetIdent" minOccurs="0"/>
					<xs:element name="byggIdent" type="bygningns:ByggIdent" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- Class: BruksenhetstypeKode  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:complexType name="BruksenhetstypeKode">
		<xs:complexContent>
			<xs:extension base="fellesns:Kode"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- Class: Etasje  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:complexType name="Etasje">
		<xs:sequence>
			<xs:element name="etasjeplanKode" type="bygningns:EtasjeplanKode"/>
			<xs:element name="etasjenr" type="xs:int"/>
			<xs:element name="antallBoenheter" type="xs:int"/>
			<xs:element name="bruksarealTilBolig" type="xs:double"/>
			<xs:element name="bruksarealTilAnnet" type="xs:double"/>
			<xs:element name="bruksarealTotalt" type="xs:double"/>
			<xs:element name="alternativtAreal" type="xs:double"/>
			<xs:element name="alternativtAreal2" type="xs:double"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- Class: Bygg  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:complexType name="Bygg">
		<xs:complexContent>
			<xs:extension base="fellesns:MatrikkelObject">
				<xs:sequence>
					<xs:element name="kommunenr" type="xs:int"/>
					<xs:element name="tattibrukDato" type="xs:date" minOccurs="0"/>
					<xs:element name="igangsattDato" type="xs:date" minOccurs="0"/>
					<xs:element name="godkjentDato" type="xs:date" minOccurs="0"/>
					<xs:element name="antallEtasjer" type="xs:int"/>
					<xs:element name="antallBoliger" type="xs:int"/>
					<xs:element name="bruksarealTilBolig" type="xs:double"/>
					<xs:element name="bruksarealTilAnnet" type="xs:double"/>
					<xs:element name="bruksarealTotalt" type="xs:double"/>
					<xs:element name="bebygdAreal" type="xs:double"/>
					<xs:element name="harHeis" type="xs:boolean"/>
					<xs:element name="bruksenhet" type="bygningns:Bruksenhet" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="etasje" type="bygningns:Etasje" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="representasjonspunkt" type="fellesns:Representasjonspunkt" minOccurs="0"/>
					<xs:element name="bygningStatus" type="bygningns:BygningstatusKode"/>
					<xs:element name="vannforsyningsKode" type="bygningns:VannforsyningsKode" minOccurs="0"/>
					<xs:element name="avlopsKode" type="bygningns:AvlopsKode" minOccurs="0"/>
					<xs:element name="oppvarmingsKode" type="bygningns:OppvarmingsKode" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="energikildeKode" type="bygningns:EnergikildeKode" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="naringsgruppeKode" type="bygningns:NaringsgruppeKode" minOccurs="0"/>
					<xs:element name="opprinnelsesKode" type="bygningns:OpprinnelsesKode" minOccurs="0"/>
					<xs:element name="Kontaktperson" type="bygningns:Kontaktperson" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="bygningstatusHistorikk" type="bygningns:BygningstatusHistorikk" maxOccurs="unbounded"/>
					<xs:element name="harSefrakminne" type="xs:boolean"/>
					<xs:element name="harKulturminne" type="xs:boolean"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- Class: ByggIdent  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:complexType name="ByggIdent" abstract="true">
		<xs:complexContent>
			<xs:extension base="fellesns:Ident">
				<xs:sequence>
					<xs:element name="bygningsnr" type="xs:long"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- Class: Kontaktperson  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:complexType name="Kontaktperson">
		<xs:sequence>
			<xs:element name="id" type="xs:long"/>
			<xs:element name="kontaktpersonKode" type="bygningns:KontaktpersonKode"/>
			<xs:element name="person" type="personns:Person"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- Class: BygningstatusHistorikk  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:complexType name="BygningstatusHistorikk">
		<xs:sequence>
			<xs:element name="dato" type="xs:date"/>
			<xs:element name="registrertDato" type="xs:date"/>
			<xs:element name="bygningstatusKode" type="bygningns:BygningstatusKode"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- Class: BygningstatusKode  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:complexType name="BygningstatusKode">
		<xs:complexContent>
			<xs:extension base="fellesns:Kode"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- Class: BygningstypeKode  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:complexType name="BygningstypeKode">
		<xs:complexContent>
			<xs:extension base="fellesns:Kode"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- Class: EnergikildeKode  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:complexType name="EnergikildeKode">
		<xs:complexContent>
			<xs:extension base="fellesns:Kode"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- Class: NaringsgruppeKode  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:complexType name="NaringsgruppeKode">
		<xs:complexContent>
			<xs:extension base="fellesns:Kode"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- Class: KontaktpersonKode  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:complexType name="KontaktpersonKode">
		<xs:complexContent>
			<xs:extension base="fellesns:Kode"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- Class: OpprinnelsesKode  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:complexType name="OpprinnelsesKode">
		<xs:complexContent>
			<xs:extension base="fellesns:Kode"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- Class: EtasjeplanKode  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:complexType name="EtasjeplanKode">
		<xs:complexContent>
			<xs:extension base="fellesns:Kode"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- Class: Bygning  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:complexType name="Bygning">
		<xs:complexContent>
			<xs:extension base="bygningns:Bygg">
				<xs:sequence>
					<xs:element name="bygningIdent" type="bygningns:BygningIdent"/>
					<xs:element name="ufullstendigAreal" type="xs:boolean"/>
					<xs:element name="bygningstype" type="bygningns:BygningstypeKode"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- Class: BygningIdent  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:complexType name="BygningIdent">
		<xs:complexContent>
			<xs:extension base="bygningns:ByggIdent"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- Class: KjokkenKode  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:complexType name="KjokkenKode">
		<xs:complexContent>
			<xs:extension base="fellesns:Kode"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- Class: OppvarmingsKode  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:complexType name="OppvarmingsKode">
		<xs:complexContent>
			<xs:extension base="fellesns:Kode"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- Class: Bygningsendring  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:complexType name="Bygningsendring">
		<xs:complexContent>
			<xs:extension base="bygningns:Bygg">
				<xs:sequence>
					<xs:element name="bygningsendringIdent" type="bygningns:BygningsendringIdent"/>
					<xs:element name="bygningsendringsKode" type="bygningns:BygningsendringsKode"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- Class: BygningsendringsKode  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:complexType name="BygningsendringsKode">
		<xs:complexContent>
			<xs:extension base="fellesns:Kode"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- Class: BygningsendringIdent  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:complexType name="BygningsendringIdent">
		<xs:complexContent>
			<xs:extension base="bygningns:ByggIdent">
				<xs:sequence>
					<xs:element name="lopenr" type="xs:int"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- Class: BygningsIntervallIdent  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:complexType name="BygningsIntervallIdent">
		<xs:complexContent>
			<xs:extension base="fellesns:Ident">
				<xs:sequence>
					<xs:element name="bygningsnr" type="xs:long"/>
					<xs:element name="lopenr" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- Class: VannforsyningsKode  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:complexType name="VannforsyningsKode">
		<xs:complexContent>
			<xs:extension base="fellesns:Kode"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- Class: FindBygningerForAdresseRequest  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:element name="FindBygningerForAdresseRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="adresseIdent" type="adressens:AdresseIdent">
					<xs:annotation>
						<xs:documentation>
                     Angivelse av undernr for en MatrikkeladresseIdent har foreløpig ingen effekt da dette ikke benyttes i søket.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="matrikkelContext" type="fellesns:MatrikkelContext"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- Class: FindBygningerForAdresseResponse  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:element name="FindBygningerForAdresseResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="bygning" type="bygningns:Bygg" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- Class: FindBygningForIdentRequest  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:element name="FindBygningForIdentRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="byggIdent" type="bygningns:ByggIdent" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="matrikkelContext" type="fellesns:MatrikkelContext"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- Class: FindBygningForIdentResponse  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:element name="FindBygningForIdentResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="bygning" type="bygningns:Bygg" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- Class: FindBygningerForIdRequest  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:element name="FindBygningerForIdRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:long" maxOccurs="unbounded"/>
				<xs:element name="matrikkelContext" type="fellesns:MatrikkelContext"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- Class: FindBygningerForIdResponse  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:element name="FindBygningerForIdResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="bygg" type="bygningns:Bygg" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- Class: FindBygningerForMatrikkelenhetRequest  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:element name="FindBygningerForMatrikkelenhetRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="matrikkelenhetIdent" type="matrikkelenhetns:MatrikkelenhetIdent"/>
				<xs:element name="matrikkelContext" type="fellesns:MatrikkelContext"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- Class: FindBygningerForMatrikklenhetResponse  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:element name="FindBygningerForMatrikkelenhetResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="bygning" type="bygningns:Bygg" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- Class: FindBygningstyperRequest  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:element name="FindBygningstyperRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="matrikkelContext" type="fellesns:MatrikkelContext"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- Class: FindBygningstyperResponse  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xs:element name="FindBygningstyperResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="bygningstypeKode" type="bygningns:BygningstypeKode" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
