dibk/rammesoknad/0.9/rammesoknad09.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dibk="http://skjema.kxml.no/dibk/rammesoknad/0.9" xmlns:seres="http://seres.no/xsd/forvaltningsdata" xmlns:fiks="http://skjema.kxml.no/metadata" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" targetNamespace="http://skjema.kxml.no/dibk/rammesoknad/0.9" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation>
			<xs:attribute name="XSLT-skriptnavn" fixed="METATRANS_SERES_XSD_GEN"/>
			<xs:attribute name="XSD-generatorversjon" fixed="2.0.13"/>
			<xs:attribute name="XSLT-prosessor" fixed="SAXON versjon 9.1.0.7"/>
			<xs:attribute name="generert" fixed="02.03.2016 14.16.26"/>
			<xs:attribute name="navneromprefix" fixed="http://seres.no/xsd"/>
			<xs:attribute name="namespace" fixed="http://skjema.kxml.no/dibk/rammesoknad/0.9"/>
			<xs:attribute name="meldingsnavn" fixed="Melding"/>
			<xs:attribute name="domenenavn" fixed="DiBK"/>
			<xs:attribute name="modellnavn" fixed="MeldingType"/>
			<xs:attribute name="metamodellversjon" fixed="1.0"/>
			<xs:attribute name="guid" fixed="true"/>
			<xs:attribute name="orid" fixed="true"/>
			<xs:attribute name="nillable" fixed="true"/>
			<xs:attribute name="tillat-gjenbruk" fixed="true"/>
			<xs:attribute name="elementtype" fixed="true"/>
			<xs:attribute name="forvaltningsdata" fixed="true"/>
			<xs:attribute name="forvaltningsdata-navnerom" fixed="http://seres.no/xsd/forvaltningsdata"/>
			<xs:attribute name="særnorske-bokstaver-i-navn" fixed="false"/>
			<xs:attribute name="ft_guid_som_attributt" fixed="false"/>
			<xs:attribute name="sem-ref" fixed="true"/>
			<xs:attribute name="kodebibliotek" fixed="false"/>
			<xs:attribute name="språk" fixed="no"/>
			<xs:attribute name="XSD-variant" fixed="Altinn"/>
			<xs:attribute name="XSD-transformatorversjon" fixed="1.2"/>
		</xs:documentation>
	</xs:annotation>
	<!-- Generert av MetaTrans(1.1.0.0) - 02.03.2016 14.16.26-->
	<xs:element name="Kode" type="dibk:KodeType"/>
	<xs:complexType name="KodeListe">
		<xs:sequence>
			<xs:element name="kode" type="dibk:KodeType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="KodeType" seres:guid="http://kommit.metakat.no/Objekttype/Index/EAID_">
		<xs:sequence>
			<xs:element name="kodeverdi" type="xs:string" minOccurs="1" maxOccurs="1" seres:orid="1"/>
			<xs:element name="kodebeskrivelse" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="2"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Arealdisponering" type="dibk:ArealdisponeringType"/>
	<xs:complexType name="ArealdisponeringListe">
		<xs:sequence>
			<xs:element name="arealdisponering" type="dibk:ArealdisponeringType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ArealdisponeringType" seres:guid="http://kommit.metakat.no/Objekttype/Index/EAID_D0CD54DF-E2AF-48f0-BFEA-4DBBA909F2BB">
		<xs:sequence>
			<xs:element name="tomtearealByggeomraade" type="xs:double" minOccurs="1" maxOccurs="1" seres:orid="60607"/>
			<xs:element name="gjeldendePlan" type="dibk:PlanType" minOccurs="1" maxOccurs="1" seres:orid="60608"/>
			<xs:element name="tomtearealSomTrekkesFra" type="xs:double" minOccurs="1" maxOccurs="1" seres:orid="60609"/>
			<xs:element name="tomtearealSomLeggesTil" type="xs:double" minOccurs="1" maxOccurs="1" seres:orid="60610"/>
			<xs:element name="tomtearealBeregnet" type="xs:double" minOccurs="1" maxOccurs="1" seres:orid="60611"/>
			<xs:element name="beregnetMaksByggeareal" type="xs:double" minOccurs="1" maxOccurs="1" seres:orid="60612"/>
			<xs:element name="arealBebyggelseEksisterende" type="xs:double" minOccurs="1" maxOccurs="1" seres:orid="60613"/>
			<xs:element name="arealBebyggelseSomSkalRives" type="xs:double" minOccurs="1" maxOccurs="1" seres:orid="60614"/>
			<xs:element name="arealBebyggelseNytt" type="xs:double" minOccurs="1" maxOccurs="1" seres:orid="60615"/>
			<xs:element name="parkeringsarealTerreng" type="xs:double" minOccurs="1" maxOccurs="1" seres:orid="60616"/>
			<xs:element name="arealSumByggesak" type="xs:double" minOccurs="1" maxOccurs="1" seres:orid="60617"/>
			<xs:element name="beregnetGradAvUtnytting" type="xs:double" minOccurs="1" maxOccurs="1" seres:orid="60618"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Arealfordeling" type="dibk:ArealfordelingType"/>
	<xs:complexType name="ArealfordelingListe">
		<xs:sequence>
			<xs:element name="arealfordeling" type="dibk:ArealfordelingType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ArealfordelingType" seres:guid="http://kommit.metakat.no/Objekttype/Index/EAID_B33AB64B-3C18-4216-92CE-6FF6BE8EC4BE">
		<xs:sequence>
			<xs:element name="arealEksisterendebebyggelse" type="xs:double" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60542"/>
			<xs:element name="arealNyBebyggelse" type="xs:double" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60543"/>
			<xs:element name="aapneArealer" type="xs:double" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60544"/>
			<xs:element name="sumAreal" type="xs:double" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60545"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Avloep" type="dibk:AvloepType"/>
	<xs:complexType name="AvloepListe">
		<xs:sequence>
			<xs:element name="avloep" type="dibk:AvloepType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AvloepType" seres:guid="http://kommit.metakat.no/Objekttype/Index/EAID_30162AC9-E31D-493a-A097-CD0B6F7C8C37">
		<xs:sequence>
			<xs:element name="tilknytningstype" type="dibk:KodeType" nillable="true" minOccurs="0" maxOccurs="1" fiks:codelist="http://skjema.geonorge.no/legg_inn_riktig_url" seres:orid="60294"/>
			<xs:element name="installereVannklosett" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60295"/>
			<xs:element name="utslippstillatelse" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60296"/>
			<xs:element name="krysserAvloepAnnensGrunn" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60297"/>
			<xs:element name="tinglystErklaering" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60298"/>
			<xs:element name="overvannTerreng" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60299"/>
			<xs:element name="overvannAvloepssystem" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60300"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Bygningsareal" type="dibk:BygningsarealType"/>
	<xs:complexType name="BygningsarealListe">
		<xs:sequence>
			<xs:element name="bygningsareal" type="dibk:BygningsarealType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BygningsarealType" seres:guid="http://kommit.metakat.no/Objekttype/Index/EAID_1B70406F-3CE7-46e5-8F11-B8121121335B">
		<xs:sequence>
			<xs:element name="arealBYA" type="dibk:ArealfordelingType" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60286"/>
			<xs:element name="arealBoligBRA" type="dibk:ArealfordelingType" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60287"/>
			<xs:element name="arealAnnetBRA" type="dibk:ArealfordelingType" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60288"/>
			<xs:element name="arealIaltBRA" type="dibk:ArealfordelingType" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60289"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Bygningsopplysninger" type="dibk:BygningsopplysningerType"/>
	<xs:complexType name="BygningsopplysningerListe">
		<xs:sequence>
			<xs:element name="bygningsopplysninger" type="dibk:BygningsopplysningerType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BygningsopplysningerType" seres:guid="http://kommit.metakat.no/Objekttype/Index/EAID_7F4FA1C5-E8A6-49d0-A516-043A79E75604">
		<xs:sequence>
			<xs:element name="arealverdier" type="dibk:BygningsarealType" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60380"/>
			<xs:element name="antallEtasjer" type="xs:integer" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60381"/>
			<xs:element name="antallBruksenheter" type="xs:integer" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60382"/>
			<xs:element name="antallBruksenheterEksisterende" type="xs:integer" minOccurs="1" maxOccurs="1" seres:orid="60383"/>
			<xs:element name="antallBruksenheterNye" type="xs:integer" minOccurs="1" maxOccurs="1" seres:orid="60384"/>
			<xs:element name="antallBruksenheterBolig" type="xs:integer" minOccurs="1" maxOccurs="1" seres:orid="60385"/>
			<xs:element name="antallBruksenheterBoligEksisterende" type="xs:integer" minOccurs="1" maxOccurs="1" seres:orid="60386"/>
			<xs:element name="antallBruksenheterBoligNye" type="xs:integer" minOccurs="1" maxOccurs="1" seres:orid="60387"/>
			<xs:element name="antallBruksenheterAnnet" type="xs:integer" minOccurs="1" maxOccurs="1" seres:orid="60388"/>
			<xs:element name="antallBruksenheterAnnetEksisterende" type="xs:integer" minOccurs="1" maxOccurs="1" seres:orid="60389"/>
			<xs:element name="antallBruksenheterAnnetNye" type="xs:integer" minOccurs="1" maxOccurs="1" seres:orid="60390"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Dispensasjon" type="dibk:DispensasjonType"/>
	<xs:complexType name="DispensasjonListe">
		<xs:sequence>
			<xs:element name="dispensasjon" type="dibk:DispensasjonType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DispensasjonType" seres:guid="http://kommit.metakat.no/Objekttype/Index/EAID_43953E24-5A87-44ff-A9D0-07C4629C756A">
		<xs:sequence>
			<xs:element name="dispensasjonstype" type="dibk:KodeType" minOccurs="1" maxOccurs="unbounded" fiks:codelist="http://register.dev.geonorge.no/subregister/byggesoknad-kodelister/direktoratet-for-byggkvalitet/dispensasjonstype" seres:orid="60343"/>
			<xs:element name="begrunnelse" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60344"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Eiendom" type="dibk:EiendomType"/>
	<xs:complexType name="EiendomListe">
		<xs:sequence>
			<xs:element name="eiendom" type="dibk:EiendomType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EiendomType" seres:guid="http://kommit.metakat.no/Objekttype/Index/EAID_7062BB16-40E1-484d-9696-558FA85F2646">
		<xs:sequence>
			<xs:element name="eiendomsidentifikasjon" type="dibk:MatrikkelnummerType" minOccurs="1" maxOccurs="1" seres:orid="60370"/>
			<xs:element name="adresse" type="dibk:EnkelAdresseType" minOccurs="1" maxOccurs="1" seres:orid="60371"/>
			<xs:element name="bygningsnummer" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60372"/>
			<xs:element name="bolignummer" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60373"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="EnkelAdresse" type="dibk:EnkelAdresseType"/>
	<xs:complexType name="EnkelAdresseListe">
		<xs:sequence>
			<xs:element name="enkeladresse" type="dibk:EnkelAdresseType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EnkelAdresseType" seres:guid="http://kommit.metakat.no/Objekttype/Index/EAID_CA5465D0-21ED-4f34-B980-9025977A880A">
		<xs:sequence>
			<xs:element name="adresselinje1" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60568"/>
			<xs:element name="adresselinje2" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60569"/>
			<xs:element name="adresselinje3" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60570"/>
			<xs:element name="postnr" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60571"/>
			<xs:element name="poststed" type="xs:string" minOccurs="1" maxOccurs="1" seres:orid="60572"/>
			<xs:element name="landkode" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60573"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Foretak" type="dibk:ForetakType"/>
	<xs:complexType name="ForetakListe">
		<xs:sequence>
			<xs:element name="foretak" type="dibk:ForetakType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ForetakType" seres:guid="http://kommit.metakat.no/Objekttype/Index/EAID_BF91CC37-69F0-42e7-BDDB-8FE0201D6457">
		<xs:complexContent>
			<xs:extension base="dibk:PartType">
				<xs:sequence>
					<xs:element name="kontaktperson" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60557"/>
					<xs:element name="harSentralGodkjenning" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60558"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Formaal" type="dibk:FormaalType"/>
	<xs:complexType name="FormaalListe">
		<xs:sequence>
			<xs:element name="formaal" type="dibk:FormaalType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FormaalType" seres:guid="http://kommit.metakat.no/Objekttype/Index/EAID_D55E4889-F6C6-4adf-9E0B-564D9D3C6F96">
		<xs:sequence>
			<xs:element name="anleggstype" type="dibk:KodeType" nillable="true" minOccurs="0" maxOccurs="1" fiks:codelist="http://skjema.geonorge.no/legg_inn_riktig_url" seres:orid="60619"/>
			<xs:element name="naeringsgruppe" type="dibk:KodeType" nillable="true" minOccurs="0" maxOccurs="1" fiks:codelist="http://skjema.geonorge.no/legg_inn_riktig_url" seres:orid="60620"/>
			<xs:element name="bygningstype" type="dibk:KodeType" nillable="true" minOccurs="0" maxOccurs="unbounded" fiks:codelist="http://skjema.geonorge.no/legg_inn_riktig_url" seres:orid="60621"/>
			<xs:element name="tiltaksformaal" type="dibk:KodeType" minOccurs="1" maxOccurs="unbounded" fiks:codelist="http://skjema.geonorge.no/legg_inn_riktig_url" seres:orid="60622"/>
			<xs:element name="beskrivPlanlagtFormaal" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60623"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GenerelleVilkaar" type="dibk:GenerelleVilkaarType"/>
	<xs:complexType name="GenerelleVilkaarListe">
		<xs:sequence>
			<xs:element name="generellevilkaar" type="dibk:GenerelleVilkaarType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenerelleVilkaarType" seres:guid="http://kommit.metakat.no/Objekttype/Index/EAID_D0736E99-21CF-4cef-BCD7-EB22CF923156">
		<xs:sequence>
			<xs:element name="oppfyllesVilkaarFor3Ukersfrist" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60600"/>
			<xs:element name="beroererTidligere1850" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60601"/>
			<xs:element name="forhaandskonferanseAvholdt" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60602"/>
			<xs:element name="paalagtUavhengigKontroll" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60603"/>
			<xs:element name="beroererArbeidsplasser" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60604"/>
			<xs:element name="utarbeideAvfallsplan" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60605"/>
			<xs:element name="behovForTillatelse" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60606"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="KravTilByggegrunn" type="dibk:KravTilByggegrunnType"/>
	<xs:complexType name="KravTilByggegrunnListe">
		<xs:sequence>
			<xs:element name="kravtilbyggegrunn" type="dibk:KravTilByggegrunnType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="KravTilByggegrunnType" seres:guid="http://kommit.metakat.no/Objekttype/Index/EAID_AC581ED7-794F-4c21-8465-4796E74D447B">
		<xs:sequence>
			<xs:element name="flomutsattOmraade" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60533"/>
			<xs:element name="f1" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60534"/>
			<xs:element name="f2" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60535"/>
			<xs:element name="f3" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60536"/>
			<xs:element name="skredutsattOmraade" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60537"/>
			<xs:element name="s1" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60538"/>
			<xs:element name="s2" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60539"/>
			<xs:element name="s3" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60540"/>
			<xs:element name="miljoeforhold" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60541"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Loefteinnretninger" type="dibk:LoefteinnretningerType"/>
	<xs:complexType name="LoefteinnretningerListe">
		<xs:sequence>
			<xs:element name="loefteinnretninger" type="dibk:LoefteinnretningerType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LoefteinnretningerType" seres:guid="http://kommit.metakat.no/Objekttype/Index/EAID_7467281F-F042-4d72-9967-52E1FCDFB6C5">
		<xs:sequence>
			<xs:element name="erLoefteinnretningIBygning" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60374"/>
			<xs:element name="planleggesLoefteinnretningIBygning" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60375"/>
			<xs:element name="planleggesHeis" type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60376"/>
			<xs:element name="planleggesTrappeheis" type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60377"/>
			<xs:element name="planleggesRulletrapp" type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60378"/>
			<xs:element name="planleggesLoefteplattform" type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60379"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Part" type="dibk:PartType"/>
	<xs:complexType name="PartListe">
		<xs:sequence>
			<xs:element name="part" type="dibk:PartType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartType" seres:guid="http://kommit.metakat.no/Objekttype/Index/EAID_BF7F872A-4197-41bc-AC31-8014B81BF47A">
		<xs:sequence>
			<xs:element name="partstype" type="dibk:KodeType" minOccurs="1" maxOccurs="1" fiks:codelist="http://skjema.geonorge.no/legg_inn_riktig_url" seres:orid="60549"/>
			<xs:element name="foedselsnummer" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60550"/>
			<xs:element name="organisasjonsnummer" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60551"/>
			<xs:element name="navn" type="xs:string" minOccurs="1" maxOccurs="1" seres:orid="60552"/>
			<xs:element name="adresse" type="dibk:EnkelAdresseType" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60553"/>
			<xs:element name="telefonnummer" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60554"/>
			<xs:element name="mobilnummer" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60555"/>
			<xs:element name="epost" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60556"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Plan" type="dibk:PlanType"/>
	<xs:complexType name="PlanListe">
		<xs:sequence>
			<xs:element name="plan" type="dibk:PlanType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PlanType" seres:guid="http://kommit.metakat.no/Objekttype/Index/EAID_C39D2DE0-71E1-4239-B040-DBEE50A1C698">
		<xs:sequence>
			<xs:element name="utnyttingsgrad" type="xs:double" minOccurs="1" maxOccurs="1" seres:orid="60559"/>
			<xs:element name="plantype" type="dibk:KodeType" minOccurs="1" maxOccurs="1" fiks:codelist="http://skjema.geonorge.no/legg_inn_riktig_url" seres:orid="60560"/>
			<xs:element name="navn" type="xs:string" minOccurs="1" maxOccurs="1" seres:orid="60561"/>
			<xs:element name="formaal" type="xs:string" minOccurs="1" maxOccurs="1" seres:orid="60562"/>
			<xs:element name="andreRelevanteKrav" type="xs:string" minOccurs="1" maxOccurs="1" seres:orid="60563"/>
			<xs:element name="beregningsregelGradAvUtnytting" type="dibk:KodeType" minOccurs="1" maxOccurs="1" seres:orid="60564"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Plassering" type="dibk:PlasseringType"/>
	<xs:complexType name="PlasseringListe">
		<xs:sequence>
			<xs:element name="plassering" type="dibk:PlasseringType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PlasseringType" seres:guid="http://kommit.metakat.no/Objekttype/Index/EAID_8982FA8F-EEC4-463b-BB49-57F95B04D94C">
		<xs:sequence>
			<xs:element name="konfliktHoeyspentkraftlinje" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60391"/>
			<xs:element name="konfliktVannOgAvloep" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60392"/>
			<xs:element name="minsteAvstandTilAnnenBygning" type="xs:double" minOccurs="1" maxOccurs="1" seres:orid="60393"/>
			<xs:element name="minsteAvstandNabogrense" type="xs:double" minOccurs="1" maxOccurs="1" seres:orid="60394"/>
			<xs:element name="minsteAvstandTilMidtenAvVei" type="xs:double" minOccurs="1" maxOccurs="1" seres:orid="60395"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Rammer" type="dibk:RammerType"/>
	<xs:complexType name="RammerListe">
		<xs:sequence>
			<xs:element name="rammer" type="dibk:RammerType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RammerType" seres:guid="http://kommit.metakat.no/Objekttype/Index/EAID_9D9A27B5-4D34-4947-BBEA-CD00CBB53215">
		<xs:sequence>
			<xs:element name="adkomst" type="dibk:VegType" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60398"/>
			<xs:element name="arealdisponering" type="dibk:ArealdisponeringType" minOccurs="1" maxOccurs="1" seres:orid="60399"/>
			<xs:element name="generelleVilkaar" type="dibk:GenerelleVilkaarType" minOccurs="1" maxOccurs="1" seres:orid="60400"/>
			<xs:element name="bygningsopplysninger" type="dibk:BygningsopplysningerType" minOccurs="1" maxOccurs="1" seres:orid="60401"/>
			<xs:element name="vannforsyning" type="dibk:VannforsyningType" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60402"/>
			<xs:element name="avloep" type="dibk:AvloepType" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60403"/>
			<xs:element name="kravTilByggegrunn" type="dibk:KravTilByggegrunnType" minOccurs="1" maxOccurs="1" seres:orid="60404"/>
			<xs:element name="loefteinnretninger" type="dibk:LoefteinnretningerType" minOccurs="1" maxOccurs="1" seres:orid="60405"/>
			<xs:element name="plassering" type="dibk:PlasseringType" minOccurs="1" maxOccurs="1" seres:orid="60406"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Rammetillatelse" type="dibk:RammetillatelseType"/>
	<xs:complexType name="RammetillatelseListe">
		<xs:sequence>
			<xs:element name="rammetillatelse" type="dibk:RammetillatelseType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RammetillatelseType" seres:elementtype="Meldingsmodell" seres:guid="http://kommit.metakat.no/Objekttype/Index/EAID_4F922796-9641-4725-820D-FCD3BB406481">
		<xs:sequence>
			<xs:element name="soeknadsid" type="xs:string" minOccurs="1" maxOccurs="1" seres:orid="60354"/>
			<xs:element name="tiltakshaver" type="dibk:PartType" minOccurs="1" maxOccurs="1" seres:orid="60355"/>
			<xs:element name="byggesaksid" type="xs:string" minOccurs="1" maxOccurs="1" seres:orid="60356"/>
			<xs:element name="eiendomByggested" type="dibk:EiendomListe" minOccurs="1" maxOccurs="1" seres:orid="60357"/>
			<xs:element name="soeknadstype" type="dibk:KodeType" minOccurs="1" maxOccurs="1" fiks:codelist="http://skjema.geonorge.no/legg_inn_riktig_url" seres:orid="60358"/>
			<xs:element name="rammebetingelser" type="dibk:RammerType" minOccurs="1" maxOccurs="1" seres:orid="60359"/>
			<xs:element name="beskrivelseAvTiltak" type="dibk:TiltakListe" minOccurs="1" maxOccurs="1" seres:orid="60360"/>
			<xs:element name="dispensasjon" type="dibk:DispensasjonType" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60361"/>
			<xs:element name="vedlegg" type="dibk:VedleggListe" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60362"/>
			<xs:element name="soekesOmDispensasjon" type="xs:boolean" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60363"/>
			<xs:element name="ansvarligSoeker" type="dibk:PartType" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60364"/>
		</xs:sequence>
		<xs:attribute name="dataFormatProvider" type="xs:string" use="required" fixed="KXML"/>
		<xs:attribute name="dataFormatId" type="xs:string" use="required" fixed="1"/>
		<xs:attribute name="dataFormatVersion" type="xs:string" use="required" fixed="1"/>
	</xs:complexType>
	<xs:element name="Tiltak" type="dibk:TiltakType"/>
	<xs:complexType name="TiltakListe">
		<xs:sequence>
			<xs:element name="tiltak" type="dibk:TiltakType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TiltakType" seres:guid="http://kommit.metakat.no/Objekttype/Index/EAID_B6BF711D-B8D9-49d2-9D43-5D984526848E">
		<xs:sequence>
			<xs:element name="bruk" type="dibk:FormaalType" minOccurs="1" maxOccurs="1" seres:orid="60546"/>
			<xs:element name="type" type="dibk:KodeType" minOccurs="1" maxOccurs="unbounded" fiks:codelist="http://skjema.geonorge.no/legg_inn_riktig_url" seres:orid="60547"/>
			<xs:element name="foelgebrev" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60548"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Vannforsyning" type="dibk:VannforsyningType"/>
	<xs:complexType name="VannforsyningListe">
		<xs:sequence>
			<xs:element name="vannforsyning" type="dibk:VannforsyningType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VannforsyningType" seres:guid="http://kommit.metakat.no/Objekttype/Index/EAID_DA8F372D-BAFB-4b93-8989-EBEBC52284B7">
		<xs:sequence>
			<xs:element name="tilknytningstype" type="dibk:KodeType" nillable="true" minOccurs="0" maxOccurs="unbounded" fiks:codelist="http://skjema.geonorge.no/legg_inn_riktig_url" seres:orid="60629"/>
			<xs:element name="beskrivelse" type="xs:string" minOccurs="1" maxOccurs="1" seres:orid="60630"/>
			<xs:element name="krysserVannforsyningAnnensGrunn" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60631"/>
			<xs:element name="tinglystErklaering" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60632"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Vedlegg" type="dibk:VedleggType"/>
	<xs:complexType name="VedleggListe">
		<xs:sequence>
			<xs:element name="vedlegg" type="dibk:VedleggType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VedleggType" seres:guid="http://kommit.metakat.no/Objekttype/Index/EAID_065251B0-5C62-4bbb-8F3E-D6249A79C398">
		<xs:sequence>
			<xs:element name="vedleggstype" type="dibk:KodeType" minOccurs="1" maxOccurs="1" fiks:codelist="http://skjema.geonorge.no/legg_inn_riktig_url" seres:orid="60257"/>
			<xs:element name="kommentar" type="xs:string" minOccurs="1" maxOccurs="1" seres:orid="60258"/>
			<xs:element name="elektroniskVedlegg" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60259"/>
			<xs:element name="postbasertVedlegg" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60260"/>
			<xs:element name="filnavn" type="xs:string" minOccurs="1" maxOccurs="1" seres:orid="60261"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Veg" type="dibk:VegType"/>
	<xs:complexType name="VegListe">
		<xs:sequence>
			<xs:element name="veg" type="dibk:VegType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VegType" seres:guid="http://kommit.metakat.no/Objekttype/Index/EAID_4C33A6CC-1E61-48d6-BBF0-8E18967609B7">
		<xs:sequence>
			<xs:element name="nyeEndretAdkomst" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60345"/>
			<xs:element name="vegtype" type="dibk:KodeType" nillable="true" minOccurs="0" maxOccurs="unbounded" fiks:codelist="http://skjema.geonorge.no/legg_inn_riktig_url" seres:orid="60346"/>
			<xs:element name="erTillatelseGittRiksFylkesveg" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60347"/>
			<xs:element name="erTillatelseGittKommunalVeg" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60348"/>
			<xs:element name="erTillatelseGittPrivatVeg" type="xs:boolean" minOccurs="1" maxOccurs="1" seres:orid="60349"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Matrikkelnummer" type="dibk:MatrikkelnummerType"/>
	<xs:complexType name="MatrikkelnummerListe">
		<xs:sequence>
			<xs:element name="matrikkelnummer" type="dibk:MatrikkelnummerType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MatrikkelnummerType" seres:guid="http://kommit.metakat.no/Objekttype/Index/EAID_6E701DFD-D484-4e9f-92D8-B6C06505F679">
		<xs:sequence>
			<xs:element name="kommunenummer" type="xs:string" minOccurs="1" maxOccurs="1" seres:orid="60365"/>
			<xs:element name="gaardsnummer" type="xs:integer" minOccurs="1" maxOccurs="1" seres:orid="60366"/>
			<xs:element name="bruksnummer" type="xs:integer" minOccurs="1" maxOccurs="1" seres:orid="60367"/>
			<xs:element name="festenummer" type="xs:integer" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60368"/>
			<xs:element name="seksjonsnummer" type="xs:integer" nillable="true" minOccurs="0" maxOccurs="1" seres:orid="60369"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
